[2021-12-22 16:35] chanwit opened #1 "Drift detection"
Implement a drift detection logic.

[2021-12-22 18:28] chanwit opened #2 "Revert states"

[2021-12-24 09:00] chanwit opened #3 "Define the state machine of the reconciliation"

[2021-12-25 15:31] chanwit opened #4 "Implement the applying state"

[2021-12-25 15:43] chanwit opened #5 "add change log to the release process"

[2021-12-27 15:04] chanwit opened #6 "Need testing with Kustomization to trigger re-creation of Terraform when Secret changes"

[2021-12-28 13:45] #4 closed

[2022-01-05 11:14] chanwit opened #7 "Add field in status when applied by drift detection"

[2022-01-05 14:18] chanwit opened #8 "chain resources, sending output of the former as input of the latter"

[2022-01-05 17:27] chanwit opened #9 "Refine the behavior of drift detection, when Revision changed, but TF source not changed in the auto mode"
There's a condition that,
  - change was made.
  - TF source was actually not touched
  - the previous plan was applied
  - but the current revision was attempted

[code]

need to have a decision on how to deal with this kind of behavior.

[2022-01-07 11:08] chanwit opened #10 "Update Terraform to 1.1.3"

[2022-01-07 16:56] chanwit commented on #10
fixed by c2cf72bab0f6fa1fd87c1cb215ea015320fffc3b

[2022-01-07 16:56] #10 closed

[2022-01-08 10:24] #1 closed

[2022-01-08 10:24] #5 closed

[2022-01-08 16:40] chanwit opened #11 "import initial tfstate with a secret"
We currently could do the following to import a TFSTATE for a specify Terraform object.

[code]

Need a good UX / design / approach to tackle this feature.

[2022-01-09 05:38] chanwit opened #12 "add gzip encoding support for tfplan"
We should use [compress/gzip ](https://pkg.go.dev/compress/gzip) to compress the byte content of `tfplan` so that it's possible for us to store a larger plan, as the current limitation of a Secret is 1 MB.

When storing `tfplan`, we must add an annotation to tell that we use GZIP to encode the content.

[code]

[2022-01-09 13:36] chanwit opened #13 "improve Message of the Ready status by including revision"

[2022-01-09 15:45] #13 closed

[2022-01-09 15:45] #9 closed

[2022-01-10 14:24] chanwit opened #14 "add a flag to allow disable drift detection"
Some resources might be very expensive to detect drift, for example a large cluster or complex Terraform resources.

It would be great to have a to disable drift detection.

`.spec.disableDriftDetection` would be suffice to support this feature.

[2022-01-10 14:25] chanwit opened #15 "add docs saying how to backup and restore TFstate for a specific Terraform object."

[2022-01-11 08:20] haarchri opened #17 "eks IRSA for authentication"
is EKS IRSA possible for authentication to aws-api instead of using static credentials?

[2022-01-11 10:58] chanwit commented on #17
Everything that worked via normal `terraform` command would work with this controller because it just uses HashiCorp's TFExec to directly execute the Terraform binary and other provider binaries inside the container. Please let me know if you got any error.

[2022-01-11 11:13] chanwit commented on #17
But it's going to be a handy feature indeed!

[2022-01-11 11:15] chanwit commented on #17
ref: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

[2022-01-11 13:09] phoban01 commented on #17
@haarchri This is currently possible by annotating the service account used by the Terraform controller.

If you installed the controller following the quickstart guide from the README then the following should work (substituting the appropriate `ROLE_ARN`):

`kubectl -n flux-system serviceaccount default eks.amazon.com/role-arn=ROLE_ARN`

Just ensure the trust policy on the role lines up with the

[2022-01-11 14:55] chanwit opened #18 "Implement drift detection only mode"
When setting `.spec.approvePlan="disable"`,
the plan and the apply process would be skipped.

This mode is call the "drift detection" only mode.

The value of the Ready condition must be one of these:

1. Reason="NoDrift", Status=True
2. Reason="DriftDetected", Status=False

The loop is still performed every `.spec.interval` duration, but no plan or apply action.

The .spec.approvePlan="disable" b

[2022-01-12 11:34] chanwit opened #19 "The controller should stop the reconciliation of a resource having the pending plan"

[2022-01-12 11:37] chanwit commented on #14
@phoban01 would you like to try give it a try on this one please?

[2022-01-12 12:08] phoban01 commented on #14
@chanwit Sure thing, I'll take this.

[2022-01-12 19:01] tomhuang12 commented on #19
I can try this one. Is this breaking down the if statements into separate ones here:
https://github.com/chanwit/tf-controller/blob/main/controllers/terraform_controller.go#L132

[2022-01-13 03:57] #14 closed

[2022-01-13 04:07] chanwit commented on #19
Hi @tomhuang12
It's fixed already in v0.6.0, by 274e70bb81ab54bb546b0d808bff8eb9e284fc4f.

But it would be great if you could check to see if the problem still persists.
Here's steps to reproduce,
- set `.spec.interval` to be like 1m or 30s
- make changes
- the status should be `Plan generated: set ...`
- wait for like 5minutes to see it's still wait for a manual approval.

[2022-01-13 04:32] chanwit opened #22 "[Proposal] Showing plan details"
Seeing plan details is an very important feature for the plan step.
We need to have a mechanism to show plan details somewhere (via a notification? via a PR?)

[2022-01-13 07:23] chanwit commented on #18
The `.spec.approvePlan="disable"` behavior must have the higher precedence that `.spec.force=true` to prevent a bad thing to happen.

[2022-01-13 09:57] phoban01 opened #23 "Use a dedicated `ServiceAccount`"
The base manifests should use a `ServiceAccount` specific to this controller rather than the default `ServiceAccount` fo the namespace.

[2022-01-13 10:11] chanwit opened #24 "Write a full test scenario for the disableDriftDetection feature"
The new `.spec.disableDriftDetection` requires a full specification as the following.

- a Terraform object with "auto" mode performs "plan" and "apply", with interval like 10s. We set 'disableDriftDetection" to "true"
- then we wait 20s.
- the Ready condition should *NOT* be changed to "NoDrift", as the detection is disabled.

[2022-01-13 10:31] phoban01 commented on #24
@chanwit I can follow up with this.

[2022-01-13 11:14] chanwit commented on #24
Thank you @phoban01

[2022-01-13 12:50] #23 closed

[2022-01-13 12:51] #17 closed

[2022-01-13 15:39] tomhuang12 commented on #19
I just gave it a test. It is indeed not reconciling the `Terraform` object when it has a plan. These are steps I did and the result:
1. Apply `Terraform` object
2. Status shows `Plan generated: set approvePlan: "plan-main-60b7dfe60b" to approve this plan.`
3. Made changes to the terraform files being planned
4. Wait for 5 minutes
5. `Terraform` object status still shows `Plan generated: set approv

[2022-01-13 17:37] chanwit commented on #19
Yes, the ability to re-plan haven't been defined yet in this scenario, where a plan got generated. Your tested scenario is perfect to be the specification of the re-plan behavior.

It won't give you any output, unless you specify `.spec.writeOutputsToSecret` with a Secret name. It's by designed to prevent leaking of sensitive outputs.

Of course, but be careful not to name anything like `generated

[2022-01-13 17:53] tomhuang12 commented on #19
Thanks for the answers! I believe this issue can be closed now.

[2022-01-13 17:56] chanwit commented on #19
Thanks, Tom!

[2022-01-13 18:45] chanwit commented on #19
Hi @tomhuang12

I thing my previous explanation was wrong.
The change was not re-planed as we thought might be because of the interval of the Source being more than 5m ?
If so, could you try reduce your Source's interval to be like 1m or 30s to double check the effect, please?

[2022-01-13 21:34] tomhuang12 commented on #19
The source interval was set to 30s when I tested the scenario, and the change was not re-planned. Did it re-plan for you?

[2022-01-13 22:53] tomhuang12 opened #28 "Add DEVELOPMENT.md"
To guide new contributors to get local environment set up and start contributing quickly

[2022-01-13 22:53] tomhuang12 commented on #28
I will take on this as I just gone through the process :)

[2022-01-14 08:47] chanwit commented on #19
You're right. I think the behavior was slight changed by some new logic recently added.
I'll add another spec to describe the new behavior.

[2022-01-14 08:47] #19 closed

[2022-01-14 10:25] #24 closed

[2022-01-14 10:39] phoban01 commented on #22
To me showing the plan in PR comment makes sense. I think this should work nicely with the manual approval feature already in place.

I like the approach of Atlantis: https://www.runatlantis.io/

[2022-01-14 10:46] chanwit commented on #22
To implement an Atlantis-like workflow, we need to write back to a different branch,
and one of the possible ways is to include the whole readable plan as an extended message of the Git commit.

GitHub for example, will extract the extended message as the body of the PR, when we create it.
So the plan will be display nicely in the PR. That's a good thing.

Technically, an extended message of Git a

[2022-01-14 12:33] chanwit opened #29 "Accept many Secrets / ConfigMaps for .spec.varsFrom"

[2022-01-15 04:29] #28 closed

[2022-01-15 04:42] chanwit opened #32 "Trigger replan when source change"
### Problem

Source change not trigger the re-plan. The current behaviour is that the controller wait for pending plan forever

### How to fix

When revison != last attempted revision, it means that source is changed.
And if there's no intend to apply, it's safe to clear pending plan.

[2022-01-15 05:17] #32 closed

[2022-01-16 17:46] chanwit opened #34 "Support specifying SA to impersonate so that it can relate to another Role ARN"

[2022-01-17 05:16] chanwit opened #35 "Run tests for the PRs"

[2022-01-17 05:20] chanwit commented on #12
fixed by #30

[2022-01-17 05:20] #12 closed

[2022-01-17 10:49] chanwit opened #36 "Add helm chart for TF-controller"

[2022-01-17 11:17] phoban01 commented on #22
Interesting idea to use the commit message body; my sense is that this could quickly lead to bloated repositories / slow pulls, particularly with complex plans?  Perhaps https://github.com/fluxcd/go-git-providers plus the ability to add the plan in a PR comment  would cover our requirements here?

[2022-01-17 11:26] chanwit commented on #22
Yeah `go-git-provider` solved the problem for us for the commit and push part.

The more difficult problem is an ability to show plan details in a PR, for GitHub, GitLab, etc. I agree that this is the best approach we would take. But I haven't seen a good solution yet. Maybe we could check what Atlantis does.

[2022-01-17 11:33] phoban01 commented on #29
I can take a look at this today.

Should look something like this (similar to the `HelmRelease` `valuesFrom`  field):

[code]

[2022-01-17 11:35] chanwit commented on #29
indeed! Thank you @phoban01

[2022-01-17 11:37] chanwit commented on #29
On the assumption that values of the latter secret / config with the same keys will always override those of the former.

[2022-01-17 12:02] phoban01 commented on #22
Something like this in the comment?
<details>
  <summary>View plan</summary>

[code]
</details>

[2022-01-17 12:16] chanwit commented on #22
Yes, agree.

[2022-01-18 12:01] #29 closed

[2022-01-18 12:25] chanwit opened #38 "Add docs/design for the API spec"
Like this: https://github.com/fluxcd/kustomize-controller/blob/main/docs/api/kustomize.md

[2022-01-18 14:28] tomhuang12 commented on #36
i'll take this

[2022-01-18 16:39] #18 closed

[2022-01-18 16:46] tomhuang12 commented on #36
Do we want to create a separate git repo to use as a helm repo?

[2022-01-18 16:56] chanwit commented on #36
Somewhere here, https://github.com/tf-controller?
If you think it's a good idea, I can add you there.

[2022-01-18 16:58] tomhuang12 commented on #36
Yes that would be great. Thanks!

[2022-01-18 17:00] chanwit commented on #36
Sent.
Please feel free to create a repo there. Let me know if you got an access problem.

[2022-01-18 21:30] tomhuang12 commented on #36
Please see https://github.com/tf-controller/charts. Let me know if you have any feedback 😄

[2022-01-18 21:53] tomhuang12 commented on #36
Also, I am using my personal PAT to run the release action in the repository currently. If you have a token, please update it in that repository.

[2022-01-19 11:25] phoban01 commented on #35
Going to take a look at this today.

[2022-01-19 13:32] chanwit opened #41 "Cache terraform providers to reduce transient errors"

[2022-01-19 13:32] chanwit commented on #36
Thank you, I'll take care of it.

[2022-01-19 17:11] chanwit opened #43 "Multi-tenancy support"
Relate to #34

[2022-01-19 17:12] chanwit opened #44 "Health check support for long provisioned resources"
Health check for external resources like Redis, RDS or other managed services like Mongo Atlas requires an extra step to perform a TCP connection to ensure that the target service is already up and running.

The Flagger project has some generic way to declare this test step, from which we could learn.

Our resources maybe something like TCP services, HTTP services. Here's a health check spec propo

[2022-01-19 18:25] chanwit opened #46 "Better observability / error logging"

[2022-01-19 18:39] chanwit opened #47 "Security review for every feature and release going forwards"
* [ ] Prepare a security checklist to review for every release
  * [ ] Prepare a process for discussing the security aspect for all features, including the new ones being added.

[2022-01-19 19:03] tomhuang12 commented on #44
Could you provide a little more details on what you are envisioning?

[2022-01-19 19:05] chanwit commented on #47
We'll learn from this: https://github.com/fluxcd/helm-controller/pull/385
And also how to fuzzy the controller.

[2022-01-19 19:24] #35 closed

[2022-01-19 20:16] tomhuang12 commented on #44
Do you mean by flagger's [metrics analysis](https://docs.flagger.app/usage/metrics)?

[2022-01-20 05:25] chanwit commented on #44
This part:
https://docs.flagger.app/usage/webhooks

[2022-01-20 07:23] chanwit opened #49 "Add TF object deletion at the end of each test to prevent the envtest overloading"

[2022-01-20 07:31] chanwit commented on #36
I'm going to test installing the Helm chart with Flux's HemlRelease, and post the result here.

[2022-01-20 11:33] chanwit commented on #44
Maybe we can focus only at network-based health checks first. Something like this.

[code]

[2022-01-20 16:05] chanwit opened #51 "Plan for E2E tests"

[2022-01-20 21:49] tomhuang12 commented on #44
Thanks for the details. I implemented the basics of the health checks in the draft PR above. I would like to understand more on in which conditions the health checks should be performed.

IMO, they should be performed after `terraform apply`. Should the health check result change Ready state and any conditions?

[2022-01-21 07:29] chanwit commented on #44
[code]
We should not include the HTTP Post method there as a POST normally requires a body content. Please goes with HTTP and assume that it's always the GET method to make thing simple.

Yes, after Apply succeeded.
  * The condition state of HealthCheck is recorded. HealthCheck = unknown. The reason is "HealthChecking".

Yes to both.
  * The Ready state become Ready = true, and the reason changed

[2022-01-21 09:14] phoban01 commented on #44
Might want to consider adding a `successThreshold` and  `failureThreshold` to avoid transient network errors triggering health-check failures?

Generally, I think the application of tcp/http healthchecks could be limited, as it might often be the case that there's no network connectivity between the resources being created and the tf-controller. If outputs could be passed to exec then something li

[2022-01-21 11:24] chanwit commented on #44
Generic health check would be a great idea, @phoban01
I'll have another issue to track it as a follow up of this one!

[2022-01-21 11:25] chanwit opened #54 "Support generic health check"
From @phoban01 on #44

Might want to consider adding a successThreshold and failureThreshold to avoid transient network errors triggering health-check failures?

Generally, the application of tcp/http healthchecks could be limited, as it might often be the case that there's no network connectivity between the resources being created and the tf-controller. If outputs could be passed to exec then so

[2022-01-21 14:31] tomhuang12 commented on #44
Does that mean we need an another `Interval` param for each health check?

[2022-01-21 15:32] chanwit opened #55 "Upgrade Terraform to v1.1.4"

[2022-01-21 17:25] chanwit commented on #44
Interesting. Could we?

[2022-01-21 17:27] #55 closed

[2022-01-21 20:31] tomhuang12 commented on #44
To get the output url, can I use the go template format `{{ outputs.url }}` instead of terraform's format?

[2022-01-23 06:05] chanwit commented on #44
Of course, please use what you see fit.

Mine was just an example.

[2022-01-23 16:27] chanwit commented on #49
fixed by #50

[2022-01-23 16:34] chanwit commented on #36
The chart worked perfectly

[2022-01-23 16:34] #36 closed

[2022-01-23 16:36] chanwit commented on #11
A CLI for this would be nice to have

[2022-01-23 16:41] #49 closed

[2022-01-24 11:51] chanwit opened #58 "Recording events to be on par with the level of the Kustomization controller"

[2022-01-24 11:56] chanwit opened #59 "Implement Terraform Runner"
Terraform Runner is a sub system of TF-controller.
It is responsible for running Terraform commands at the different stages.
Terraform Runner is a part of supporting multi-tenancy #43

### Requirements
  * [x] It must be an gRPC server wrapping around TFExec #68
  * [x] Its local version must be able to use inside the TF-controller, and all current tests pass #68
  * [x] the gRPC server must suppo

[2022-01-24 13:44] #15 closed

[2022-01-24 13:51] chanwit opened #61 "Add flag to specify that a variable is an HCL expression"
To help with a correct variable generation, we need a flag to specify that a variable is an HCL expression. It's a string by default.

[2022-01-24 19:23] tomhuang12 commented on #54
This will require the controller image to have cli/tools installed to run. TerraformRunner can help with this by allowing users to customize their runner image (feature?).

[2022-01-25 06:49] haarchri opened #62 "move to fluxcd-community"
is it an option to move the tf-controller with examples, helm-chart to https://github.com/fluxcd-community ?

[2022-01-25 07:15] chanwit commented on #62
Yep, we're working on it with the Flux team. But the team will be busy pushing Flux to graduate, so our move is still less priority at the time. Please stay tuned.

[2022-01-25 07:22] chanwit commented on #54
We'll decide about this one later, as it might compromise our security.

[2022-01-25 10:17] chanwit commented on #59
This is a good question. I'm thinking of it as a stateless system. Runner Pod is a gRPC server which allows to crash.

We'll do our own TLS generation, yes. A goal is to make the controller self-contained

Reconciliation process happens only inside the controller using the current set of logics.
Runner Pod will be issued a command, and send output back to the Controller, via gRPC, just like we run

[2022-01-25 10:17] chanwit commented on #59
I get the first version of POC out. We can then discuss and move it forward.

[2022-01-25 12:52] chanwit opened #63 "Use trivy for image scanning"
https://github.com/aquasecurity/trivy

[2022-01-27 09:59] #7 closed

[2022-01-27 10:50] phoban01 commented on #54
Thinking a bit more about this, I think an event-driven approach might be a good way to approach generic health-checks. For example, in the context of AWS I can subscribe to an event-bridge bus and listen to resource creation events; the flux notification controller could be configured to receive these events and forward to the terraform controller. This approach allows us to avoid any cloud provi

[2022-01-27 19:53] tomhuang12 commented on #44
Are we good to close this?

[2022-01-27 19:53] tomhuang12 commented on #38
This can be closed.

[2022-01-28 03:49] chanwit commented on #38
Closing

[2022-01-28 03:49] #38 closed

[2022-01-28 06:44] chanwit commented on #44
Fixed by #53
Thank you @tomhuang12 !!

[2022-01-28 06:44] #44 closed

[2022-01-28 14:08] #61 closed

[2022-01-30 17:01] chanwit opened #68 "Implement local RPC server for TF Runner"
Part of #59

**Requirements**
  * [ ] It must be an gRPC server wrapping around TFExec
  * [ ] Its local version must be able to use inside the TF-controller, and all current tests pass.
  * [ ] the gRPC server must support executing a command for each step in the life-cycle
    * [ ] receive tar.gz
    * [ ] init
    * [ ] plan for drift detection
    * [ ] plan
    * [ ] apply
    * [ ] show

[2022-01-31 11:51] phoban01 commented on #22
I think an API something like the below would be required to implement this feature.

A couple of things to note:
- separate credentials would be required to access the git provider API
- if the PR branch exists should push the changes, otherwise creates the branch
- there's potentially enough logic here to warrant a dedicated controller and CR

[code]

[2022-01-31 15:30] chanwit opened #69 "Upgrade Source controller to v0.21.1"
Upgrade The Source controller to v0.21.1
https://github.com/fluxcd/source-controller/releases/tag/v0.21.1

[2022-01-31 16:38] #68 closed

[2022-01-31 16:48] chanwit commented on #59
@phoban01 would you like to further split this epic into other issues?

[2022-01-31 16:49] chanwit opened #70 "Implement runner main program"
Implement runner main program and package it into another container image.

[2022-01-31 16:53] chanwit opened #71 "Implement Pod invocation logics"

[2022-01-31 16:53] chanwit opened #72 "the gRPC server must support mTLS"

[2022-01-31 16:53] chanwit opened #73 "TF-controller must be able to rotate certificates for every Terraform Runner Pod"

[2022-02-01 15:35] chanwit opened #75 "gRPC calls should return meaningful codes. Critical codes trigger pod deletion."

[2022-02-02 15:44] #69 closed

[2022-02-02 16:52] chanwit opened #78 "Test 230 and 140 fail consistently"
Just the only test case I've seen failing repeatedly across job runs. Need a proper way to fix it.

[2022-02-02 16:55] chanwit opened #79 "Rename packages to be weaveworks/tf-controller"
Need to fix package in many places to make sure the package name's changed to `weaveworks/tf-controller`.

[2022-02-02 17:56] #63 closed

[2022-02-03 02:03] tomhuang12 commented on #78
Test 140 has the same issue.

[2022-02-03 04:58] tomhuang12 opened #80 "`.spec.vars` is not working properly"
Tried setting `vars` to the followings:

[code]
and
[code]

Both resulted the following error:
[code]

[2022-02-03 14:15] phoban01 commented on #80
Thanks for catching @tomhuang12. This issue was caused by the wrong container image being specified.

I've pushed a fix in #82.

[2022-02-03 14:15] #80 closed

[2022-02-03 14:17] phoban01 commented on #79
I think #82 covers for this repository but we should also update our examples and the Helm Chart.

[2022-02-03 15:56] tomhuang12 commented on #79
Yeah that's a good idea. We can put the chart index in /docs.

[2022-02-03 16:54] chanwit commented on #78
updated

[2022-02-03 17:54] phoban01 commented on #78
I believe this is happening because we have a variable shadowing problem in the drift detection block:
https://github.com/weaveworks/tf-controller/blob/eb1bd17016516d061657adf5a0a63e84eeff8de1/controllers/terraform_controller.go#L582-L606

If we want to keep these variables names it should read:
[code]
If we passed a pointer to the `detectDrift` method then we would also avoid this issue; that wou

[2022-02-03 17:57] chanwit commented on #78
This is making sense because it's happening only with tests related to the drift detection.

[2022-02-06 17:35] chanwit opened #84 "Use local http server to test health checks"
I found that Test 240 some time failed because `httpbin.org` was unreachable:

[code]

@tomhuang12 is it possible to change health check of this url to the local one please?
We already have an embedded HTTP server running during the tests.

[2022-02-06 18:13] tomhuang12 commented on #84
Good point! I'll make the change

[2022-02-06 18:20] chanwit commented on #84
But please wait until #83 gets merged because all imports will be replaced by it.

[2022-02-06 18:47] chanwit opened #85 "Upgrade Terraform to 1.1.5"

[2022-02-07 01:59] #78 closed

[2022-02-07 01:59] #79 closed

[2022-02-07 02:22] tomhuang12 commented on #62
@haarchri The decision was made to move this project to the Weaveworks org.

[2022-02-07 02:22] #62 closed

[2022-02-07 02:23] tomhuang12 opened #86 "Move helm chart under this repo"
Currently the chart lives here: https://github.com/tf-controller/charts.

[2022-02-07 05:38] #51 closed

[2022-02-07 06:10] chanwit opened #87 "Release plan for v0.9.0"
Notable issues before releasing v0.9.0
  - [x] #90
  - [x] Runner Pod
  - [x] mTLS
  - [x] new Helm chart #86
  - [x] #103
  - [x] #102
  - [x] #105
  - [x] #106
  - [x] #104
  - [x] #109
  - [x] #120
  - [x] #130
  - [x] #147
  - [x] #114
  - [x] #161
  - [x] #118
  - [x] #119

[2022-02-07 18:08] #84 closed

[2022-02-08 16:36] #85 closed

[2022-02-08 16:40] tomhuang12 opened #91 "Show terraform version as part of e2e"
So any issues caused by terraform version can be easily distinguished

[2022-02-08 18:26] #86 closed

[2022-02-08 18:59] phoban01 opened #93 "Setup docs site"
Create docs site using https://squidfunk.github.io/mkdocs-material/ or something similar. It can be hosted on GitHub pages now that our project home has settled.

[2022-02-08 23:27] tomhuang12 commented on #93
Since this repo's github pages is occupied by helm repository, should we create another repo for docs?

[2022-02-08 23:50] tomhuang12 commented on #46
I am doing some research on how this is implemented in kustomize-controller. Looks like it's using [github.com/fluxcd/pkg/runtime/metrics](https://pkg.go.dev/github.com/fluxcd/pkg/runtime/metrics) which is already used in various places to record readiness and suspension. The only thing we are missing is recording duration like [this](https://github.com/fluxcd/kustomize-controller/blob/main/contro

[2022-02-09 15:26] phoban01 commented on #93
Shoot, would be good to have it in this repo. We check-in docs here, use GHA to build and publish artifact to S3?

[2022-02-09 15:28] tomhuang12 commented on #93
Yeah let me track down a S3 bucket.

[2022-02-09 15:47] phoban01 commented on #46
I think this is largely related to code structure. The kustomize controller has very clear reconcile phases and the logging, metrics and events are consistent as a result. I think I might make sense to merge the multi-tenancy change first and then tackle this work, otherwise the sands could be shifting beneath our feet a little bit.

[2022-02-09 16:23] phoban01 commented on #91
Could we run e2e with matrix to validate against different versions?

[2022-02-09 16:25] chanwit commented on #91
We don't want to do that yet.
Please stick it to one version first.

[2022-02-09 16:30] #72 closed

[2022-02-09 20:41] tomhuang12 commented on #93
To close the discussion loop, we decided to use `gh-pages` branch for both helm repo and docs since it can serve both `index.yaml` and `index.html` on the same url.

[2022-02-10 06:59] chanwit commented on #93
fixed by #95
Thank you @tomhuang12 for implementing this.

[2022-02-10 07:06] chanwit opened #96 "Add an option for the finalizer to destroy resources upon deletion."
It would be nice to have a new field, like

[code]

In the finalizer, the controller would tell the runner to 1. create a destroy plan, 2. apply the destroy plan, 3. waiting for the resources to be completely destroyed.  Then the controller'd continue the finalizer logic.

[2022-02-10 07:08] chanwit opened #97 "Make the backend configurable"
Currently we support only Kubernetes backend.
But some users still require to use their existing backends like S3 or Dynamo tables outside Kubernetes.

It would be great to make the backend configurable to support those existing systems.

Here's a possible API design for custom backend.
[code]

[2022-02-10 07:20] chanwit opened #98 "Make test coverage reach 68.2%"
We'll review all features in Q1, make sure that everything won't break our users and make the test coverage reaching 70%.

[2022-02-11 16:02] chanwit opened #100 "Publish the controller to OperatorHub"

[2022-02-11 16:36] #91 closed

[2022-02-15 14:47] #70 closed

[2022-02-15 14:50] chanwit opened #102 "Only the leader generates / rotates the mTLS secret"
Currently we don't have a semantic to check if the current instance of controller is the leader.
We have to make sure that only the leader (via lease) is allowed to generate and rotate the mTLS secret.

[2022-02-15 14:53] fsequeira1 commented on #97
Hi, I am interested in working on this

[2022-02-15 15:05] chanwit opened #103 "Update helm chart to include RUNNER_POD_IMAGE env"

[2022-02-15 15:32] chanwit commented on #97
Thank you @fsequeira1

[2022-02-15 15:38] chanwit opened #104 "Add an option to delete the runner pod for every reconciliation loop"
For better security, we should support an option to delete the runner pod of a Terraform object when each loop is completed.

The new pod should be re-created when the new loop starts.

[2022-02-15 15:43] #71 closed

[2022-02-15 15:44] chanwit opened #105 "A Runner Pod must be placed inside the namespace of the Terraform object only"

[2022-02-15 15:44] chanwit opened #106 "A Runner Pod of a Terraform Object must use the Service Account specified by the Terraform object"

[2022-02-15 15:53] chanwit opened #107 "Use exponential backoff to wait for runner pods instead of the current linear loop"

[2022-02-15 15:55] chanwit opened #108 "Implement more e2e tests to cover multi-tenancy setup"

[2022-02-15 15:57] chanwit opened #109 "Remove Terraform binary from the tf-controller image Dockerfile (and not tf-runner image)"

[2022-02-16 14:41] #96 closed

[2022-02-16 17:14] tomhuang12 commented on #108
I will work on this when #106 is ready 😄

[2022-02-16 17:30] #107 closed

[2022-02-16 17:32] chanwit commented on #105
You're right. It got implemented and I didn't notice that.
Good catching, Tom!

[2022-02-16 18:38] #103 closed

[2022-02-16 18:39] chanwit commented on #108
Please set controller's `replicas` to be 3 this time :-)

[2022-02-17 06:26] #102 closed

[2022-02-17 06:30] chanwit opened #114 "Test with real workloads from https://github.com/tf-controller"

[2022-02-17 06:33] chanwit opened #115 "Add chaos e2e test cases that delete runner pods during the reconciliation steps"

[2022-02-17 11:57] chanwit commented on #106
Here's a design
[code]

[code]

[2022-02-17 12:38] chanwit commented on #104
With this flag,
[code]
the controller always delete the runner pod after use, so that we can make sure the pod is not left unintentionally.

[2022-02-17 14:33] chanwit commented on #108
@tomhuang12 please see https://github.com/weaveworks/tf-controller/tree/main/config/testdata/multi-tenancy as the starting point. I put a simple one there.

[2022-02-17 14:35] #59 closed

[2022-02-17 15:30] #43 closed

[2022-02-18 04:55] chanwit opened #118 "Write Change log for v0.9.0"

[2022-02-18 04:55] chanwit opened #119 "Bump versions of controller image, runner image, chart to v0.9.0"

[2022-02-18 04:56] chanwit opened #120 "Release v0.9.0-rc.2 and test with real loads"

[2022-02-18 11:56] chanwit opened #122 "Deadlock in the E2E test when deleting the whole namespace"
When we have a namespace, in this case `dev` and we got a lot of stuffs there, says Terraform objects, Source objects, then we're trying to delete the whole namespace expecting all resources is cascaded deleted too.

The cluster stuck in this case because we didn't delete resources in backward order.
I'm not sure if there's a bug inside the controller, or it's a normal behaviour of Kubernetes.
Thi

[2022-02-18 15:47] #34 closed

[2022-02-18 15:48] #109 closed

[2022-02-18 16:13] chanwit commented on #122
@tomhuang12 does the above help?

[2022-02-18 16:26] tomhuang12 commented on #122
I think it's due to the CRDs have `finalizer` on them but the controller got deleted before finalizing is complete, therefore leaving the `finalizer` on those objects and preventing them from being deleted by the API server. I have observed the same with other controllers. [This](https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-524772920) seems to be correct way to delete a names

[2022-02-18 16:53] chanwit opened #124 "Update Helm Chart for v0.9.0-rc.2"

[2022-02-18 17:00] chanwit opened #125 "Make cert rotation period configurable and add E2E test to check the behavior of Pods when cert is expired"
Currently, we still don't have a set of E2E tests to ensure the behavior of controller + pods when the mTLS cert is expired.
To do so,
1. We make the cert rotation period configurable
2. Make the value small
3. Write test case to expect that the controller generate a new cert and install it for new pods. Existing pods would be unable to connect from the controllers. Some error would be expected, a

[2022-02-19 04:45] #124 closed

[2022-02-20 05:08] chanwit opened #127 "Making the default runner pod role least privileged"
Currently, we have the default TF-runner role as the following:
[code]
because the runner pod needs to access ConfigMaps, Secrets and the Terraform binary needs to acquire Lease to lock its TF-state.

It is a must to review to see if we could remove some verbs like "watch" or "patch" if they're not required.

Also another non-K8s backend, like S3 when we support it, should not require an access to

[2022-02-20 17:43] chanwit opened #128 "Add a test case for writing output with dots in its name to a secret"
Need a test case to make sure that outputs containing dots, like the following, in their names are allowed:

[code]

[2022-02-21 16:22] chanwit commented on #128
Confirmed that Terraform does not support "." in the output.

We need a mapping like this:
[code]

[2022-02-21 17:09] chanwit opened #130 "Release v0.9.0-rc.3 and to test with a multi-tenant setup"

[2022-02-21 17:34] #128 closed

[2022-02-21 17:37] chanwit opened #131 "Improve API of the write outputs spec"
Per @phoban01 suggestion,

[code]

This should be re-implemented as part of the `v1alpha2 spec.

[2022-02-22 06:00] chanwit opened #133 "Update Terraform to v1.1.6"

[2022-02-22 12:08] chanwit opened #134 "Upgrade Source controller to v0.21.2"

[2022-02-22 12:26] #133 closed

[2022-02-22 22:11] tomhuang12 commented on #130
I think @phoban01 's example https://github.com/phoban01/flux-terragrunt-poc is a really multi-tenant example to test against.

[2022-02-23 14:25] chanwit opened #138 "Integrate Go-Fuzz"
https://google.github.io/oss-fuzz/getting-started/new-project-guide/go-lang/

[2022-02-23 18:01] chanwit opened #139 "Integrating Source v1beta2"
We'll discuss our plan here to integrate with the coming change of Source `v1beta2`.

Related: https://github.com/fluxcd/source-controller/pull/586

[2022-02-25 08:22] chanwit opened #140 "Add test for resource destruction scenario"
Setup a scenario repo to demonstrate how to chain resources and what's the best way to organize resources when using TF objects to destroy Terraform resources.

[2022-03-02 18:17] chanwit opened #143 "The controller should delete pods and start over if got a handshake failure error"
This bug found in v0.9.0-rc.3.

Handshake failure is caused by the cert rotation process.

[code]

It would be safe to clean up the pod and start over for the pod to pickup a new cert.

[2022-03-07 16:33] #130 closed

[2022-03-07 16:45] chanwit opened #145 "Using a predicate to trigger the reconcile when the pod is ready rather than polling it"
The current approach is not scaling well.

[2022-03-08 11:36] #125 closed

[2022-03-08 16:38] chanwit opened #147 "Release v0.9.0-rc.4 and make sure 2 connection-related bugs are fixed"

[2022-03-10 13:54] #143 closed

[2022-03-10 16:05] aclevername opened #152 "Add example docs on how to use `varsFrom` with a secret"
Hello :wave: awesome project! I was playing around with trying to use `varsFrom` to create a AWS resource using some access/secret keys in a secret, and was unable to get it working. It would be great to see an example in the docs :smile: . To workaround the problem I in-lined the secrets into the terraform CRD.

I attempted this (creds redacted)
[code]

[code]

With template file:
[code]

Am I mi

[2022-03-10 17:10] chanwit opened #153 "Having version-based documentations"

[2022-03-11 04:29] chanwit commented on #147
Closed. Need another RC to test the bugs.

[2022-03-11 04:29] #147 closed

[2022-03-11 04:33] chanwit opened #154 "Make sure output not delete before obtaining the new output from an TF object"
Some output disappeared and it blocked other in the Kustomization chain.
Need to make sure that the current output is not deleted before obtaining the new output from an TF object.

[2022-03-11 04:42] chanwit opened #155 "TLSCert should be used to validate the host instead of CACert"
Currently CACert is being used to validate the host instead of TLSCert. So the connection is failing in RC4 and RC5.

https://github.com/weaveworks/tf-controller/blob/091665b22a363bba6479b551a13a1cfa9f5a92d5/controllers/terraform_controller.go#L1813

We also need a test to prevent future issues of this kind.

[2022-03-11 04:58] chanwit opened #157 "Update Terraform to v1.1.7"

[2022-03-14 09:35] chanwit opened #158 "Even if plan is no changed, TF outputs must be reconciled if they're deleted"
There is a corner case that TF outputs of a Terraform object get deleted, and no drift occurred, no plan is changed.
TF-controller should reconcile the TF outputs as a secret too so that other objects that expected this output could work normally.

[2022-03-14 11:15] #155 closed

[2022-03-15 08:10] chanwit opened #160 "Race condition happens when scaling up replicas under the chaos testing"
After applying chaos testing, it recently has been founded that there is a kind of race condition happening between replicas.

Under the same chaos testing, this race condition does not happen when replica=1.
So the current assumption is that we might currently get this race condition due to:

1. Leader selection
2. Leader generation of certification
3. The channel that is currently used to block/

[2022-03-15 11:51] chanwit commented on #154
fixed by #159

[2022-03-15 11:51] #154 closed

[2022-03-15 11:53] chanwit opened #161 "Release v0.9.0-rc.6 and test on real workloads"

[2022-03-15 11:54] #114 closed

[2022-03-15 11:55] chanwit commented on #97
@fsequeira1 have you got a chance to tackle this issue please?

[2022-03-15 12:50] #134 closed

[2022-03-15 15:04] fsequeira1 commented on #97
@chanwit it is not forgotten but still haven't got an opportunity to work on it

[2022-03-15 15:24] chanwit commented on #97
Thank you, @fsequeira1.
I just wanted to check about it, as it's also in the roadmap of Q1, which is 15 days left.

But I can postpone it to Q2 if you think it won't be landing by the Q1 milestone.
Please feel free to let me know which one works for you.

[2022-03-15 15:37] #157 closed

[2022-03-15 15:49] chanwit opened #164 "make the default behavior to delete runner pod after each reconciliation loop"

[2022-03-15 16:54] #164 closed

[2022-03-15 16:58] #161 closed

[2022-03-15 18:47] oliverbaehler opened #166 "Runner Configuration via terraform cr"
Hi, really like the project!

One thing I noticed (I am missing) is the possibility to configure a terraform runner. This could come in handy if I eg. need to set resources or might want to extend to environment of the runner. I could imagine this would look something like this:

[code]

As alternative I could approach something like this via kyverno selecting pods with the `infra.contrib.fluxcd.i

[2022-03-15 21:38] oliverbaehler opened #167 "Failing to verify artefact with env proxy"
I am not really sure if i am just to stupid, but i keep getting the following message:

[code]

The Terraform looks like this:

[code]

The gitRepository status seems to be fine as well:

[code]
I downloaded the `ece7cf37ed2bde070e2e3117bb25dcf04ae82fa4.tar.gz` and got the same checksum trough `sha256sum`:

[code]

I believe this happens because I have to set a proxy (bcs of company stuff). So the

[2022-03-15 21:55] oliverbaehler commented on #167
I am guessing it has something to with the contents of `resp.Body`

https://github.com/weaveworks/tf-controller/blob/4958d64ef1ea89dfaac72b5f30f17a870628111a/controllers/terraform_controller.go#L1297

Sadly I can't yet build the project locally. 😿

[2022-03-16 05:38] chanwit commented on #166
Yeah, this is making sense. Thank you for the suggestion, @oliverbaehler !!

[2022-03-16 05:46] chanwit commented on #167
Thank you for reporting @oliverbaehler
hmm. it could be a bug around that artifact verification.

I'll check with the upstream Kustomization controller about this issue as we share this same verification code.

[2022-03-16 08:06] oliverbaehler commented on #167
Mhh that's interesting. We are also using the kustomize-controller for quiet some time also with proxy settings via environment and I haven't seen yet a problem with the artefact verification. That's very strange..

[2022-03-16 08:23] chanwit commented on #167
Which is here for reference: https://github.com/fluxcd/kustomize-controller/blob/main/controllers/kustomization_controller.go#L561

[2022-03-16 08:26] chanwit commented on #167
Checking and they're almost identical. Let me know if you spot something strange.

[2022-03-16 12:39] fsequeira1 commented on #97
@chanwit I think it's better to postpone to Q2 but I will try to deliver it asap

[2022-03-16 12:54] chanwit commented on #97
Thank you @fsequeira1
I'll move it to Q2.

[2022-03-16 13:01] chanwit commented on #97
@fsequeira1 here's a design of the customDefinition block that could help you speeding things up.
Please define `customDefinition` as *string and if it's specified, you can dump the whole string to override the backend block, for example.

[code]

[2022-03-17 11:31] chanwit commented on #122
we now have a correct step to delete resources. closing.

[2022-03-17 11:31] #122 closed

[2022-03-18 12:48] chanwit opened #171 "Add a helm chart value for specifying concurrency"

[2022-03-18 15:46] chanwit commented on #98
We're now at 68.2% coverage.

[2022-03-19 11:44] chanwit opened #173 "Support UBI-based image"
In order to make it work better for OpenShift, we should support UBI-based images for both controller and runner.

[2022-03-21 15:03] #171 closed

[2022-03-21 15:04] #160 closed

[2022-03-21 15:15] chanwit opened #175 "Fix CVE-2022-0778"
[code]

[2022-03-21 15:32] #175 closed

[2022-03-21 16:45] #118 closed

[2022-03-21 17:30] #119 closed

[2022-03-21 17:33] chanwit commented on #98
We missed the coverage by 1.8%

[2022-03-21 17:34] #98 closed

[2022-03-21 18:08] #87 closed

[2022-03-21 18:09] chanwit opened #177 "Release plan for v0.10.0"
This issue is for the release planning of v0.10.0

### Performance

- [x] #189

### Security

- [x] #190

### Stability

- [ ] #195
- [ ] Re-write E2E tests

[2022-03-22 06:32] chanwit commented on #166
Changing `runner` to `runnerPod` and it makes a good spec. Thank you @oliverbaehler !

[code]

[2022-03-22 14:27] chanwit opened #178 "Support ARM64"

[2022-03-22 14:27] chanwit opened #179 "Test real workloads on AWS Gravitron"

[2022-03-22 14:28] chanwit opened #180 "Make sure that the controller works with containerd without Dockershim"

[2022-03-24 15:29] chanwit opened #181 "Source URL change, but revision is the same do not trigger reconciliation"
Steps to reproduce
  * Create source
  * Create TF, attach TF to source
  * Clone URL of the source to the new repo
  * Change URL of the source, pointing to the new repo

Object should stuck

[2022-03-24 17:19] tomhuang12 commented on #139
Good reference on what we need to change: https://github.com/fluxcd/kustomize-controller/pull/575/files

[2022-03-24 18:07] chanwit opened #183 "The lookup pod mechanism should also wait for the old runner pod being terminated"

[2022-03-25 14:01] chanwit opened #185 "Create docs on network-based health checks"

[2022-03-28 04:58] chanwit opened #187 "Implement pluggable plan validations"

[2022-03-28 09:02] chanwit opened #189 "Use asynchronous calls for gRPC to improve reconciliation performance"

[2022-03-28 11:55] #183 closed

[2022-03-29 08:36] chanwit opened #190 "update Alpine to v3.15.3"

[2022-03-29 08:43] #181 closed

[2022-03-29 13:46] huzerun0306 opened #191 "How does the runner image import the provider package as a local tf repository"
After the terraform init command is executed, the provider package will be downloaded, which will be downloaded from the local repository or the remote repository. I want to use a local repository for two reasons:
https://www.terraform.io/cli/config/config-file#explicit-installation-method-configuration
1. For network reasons, the local warehouse is faster
2. My custom provider does not want to be

[2022-03-29 14:30] chanwit commented on #191
You shouldn't add anything to the controller image.

Best bet would be putting your provider binaries to your Runner image.
Using the same `RUN ADD`, I think you would do the followings:

1. Prepare your custom runner, say `customRunner.Dockerfile`:
[code]
2. `docker build -t tf-runner:custom -f customRunner.Dockerfile .`
3. In TF-controller's Deployment, you would change the line:
[code]

If you'

[2022-03-29 16:10] chanwit opened #192 "Allow specifying runner image per TF object"
There would be a case that users require to cache provider binaries for a specific set of Terraform resources.

The only way to do so is to cache provider binaries into a new runner image, and they would need to specify this custom runner image only for the TF object that controls those Terraform resources.

[2022-03-30 14:17] #139 closed

[2022-03-30 15:02] chanwit opened #195 "Add profiled binary to collect test coverage data"

[2022-03-30 15:44] #190 closed

[2022-03-30 16:59] Nalum opened #196 "Add Support for HCL in `varsFrom`"
Outlining this here before I start on an implementation.

`ConfigMap`/`Secret` do not support types other than strings, the `varsFrom[].varsKeys` allows selecting which keys in the `ConfigMap`/`Secret` are used. Proposal to update this to also allow specifying a type e.g. `hcl` thereby allowing more complex data in the `ConfigMap`/`Secret`.

Example:
`ConfigMap`:
[code]

`Terraform`:
[code]

Some

[2022-04-01 09:08] phoban01 opened #197 "Provide easy install pathway for `tfctl`"
Currently installing the `tfctl` cli requires cloning the repo and executing `make install-cli`.

We should distribute binaries using GitHub releases, we could look at using [GoReleaser](https://goreleaser.com/) for this or can simply update the release action.

[2022-04-01 09:40] chanwit commented on #197
Please also consider

`brew install weaveworks/tap/tfctl` too.

We can also have `tf-controller/tap/tfctl` if we cannot do the former.

[2022-04-01 13:36] #191 closed

[2022-04-07 10:55] Nalum opened #200 "Image Pull Secrets on ServiceAccounts"
I have deployed the `tf-controller` on a cluster using the Helm Chart and defined the `imagePullSecrets` as we need to pull the controller and runner containers from a private registry.

The controller deploys without issue using the defined `imagePullSecrets` but the runner fails because it doesn't have the `imagePullSecrets` defined for the pod.

Given that there is a `ServiceAccount` definition

[2022-04-07 17:13] chanwit opened #202 "Upgrade Terraform to 1.1.8"

[2022-04-08 16:57] #200 closed

[2022-04-11 10:13] phoban01 commented on #197
GoReleaser can create brew releases so let's go with that.

[2022-04-11 13:44] Sbou opened #203 "Error at Init step without details"
I try to use for the first time this controller but I have an error at the Init step without logs.

Error:
[code]

Terraform spec:
[code]

I removed many variables for the sample.

Have you got an idea about this error?

It could be better if we can have why the configuration is invalid.
Perhaps with the tf-exec logs?

Thank you

[2022-04-11 14:19] chanwit commented on #203
Thank you for reporting this @Sbou

Usually, tf-exec logs should be displayed as part of that. But it seems the tf-exec initialization process failed very early.
I'll check if it's possible to make this kind of error more verbose.

[2022-04-12 09:20] Nalum opened #204 "Error "must be no more than 63 characters""
I'm getting the following error when I try to have my Terraform run:

[code]

The Terraform script is very simple, just 1 output, for testing purposes:

[code]

[2022-04-12 09:26] chanwit commented on #204
Thank you for reporting this, Luke.

Definitely a bug.
Is this something from other kind of sources?

[2022-04-12 09:58] Nalum commented on #204
@chanwit the source that is holding the terraform script shares a few other flux resources but also has 8 helm charts.

[2022-04-12 10:01] o6uoq commented on #204
This is due to the Kubernetes character limit for labels:

Reference: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

[2022-04-12 11:02] o6uoq commented on #204
**FWIW**

As per [RFC1123](https://datatracker.ietf.org/doc/html/rfc1123):

Related: [What is the maximum length of a DNS name?](https://stackoverflow.com/questions/32290167/what-is-the-maximum-length-of-a-dns-name)

[Kubernetes PR](https://github.com/kubernetes/kubernetes/pull/1830) adding [RFC952](https://datatracker.ietf.org/doc/html/rfc952) (which is updated by [RFC1123](https://datatracker.ie

[2022-04-12 11:14] chanwit commented on #204
plan-${revision} is used as a guard rail to double check that we pick the right plan to process.
It could be possible to move it to annotations instead of labels.

[2022-04-12 14:23] #204 closed

[2022-04-13 11:19] chanwit opened #206 "Update busybox to fix CVE-2022-28391"

[2022-04-17 13:39] #202 closed

[2022-04-17 13:39] #206 closed

[2022-04-18 11:25] chanwit opened #207 "Implement resource inventory in status"
Besides listing available outputs, we also need to know the list of resources provisioned by a Terraform object.
Having the inventory of provisioned Terraform resources in the `status` helps users obtain information about them.

[2022-04-21 15:01] chanwit opened #211 "Update TF binary to 1.1.9"

[2022-04-21 16:14] chanwit opened #212 "Nil reference in event recorder"
[code]

[2022-04-22 11:40] #197 closed

[2022-04-22 12:43] chanwit opened #213 "Bug with file generation in the multi-step plan-apply workflow"
There's a bug when
  - Plan with files generation containing file path
  - Apply with plan, but at the apply stage there's no more those files because it's the new reconciliation round.

How to fix:

1. Make sure that we got the same dir name (no random) for each commit
2. Make sure that at the apply stage, we download, extract the blob and use the same dir name.

[2022-04-25 10:38] steveww opened #216 "Option for Pull Request on plan"
Currently when not using `auto` the plan commit is show in the status. This plan commit must then be put into the manifest and pushed. This workflow could be greatly improved if the tf-controller could create a pull request with this change against the management repo. In a similar way to how Flux image automation works.

[2022-04-25 12:57] chanwit commented on #216
Thank you for the feature idea, @steveww.

[2022-04-25 12:58] chanwit commented on #216
@phoban01 @tomhuang12
it would be great to start a discussion here around Git providers / PR integrations, please.

[2022-04-25 18:28] chanwit commented on #213
After an investigation into this bug, we found that the current behavior was optimized to "apply" the "plan" without refreshing resources. This optimization was good as there were no extra calls needed after planning.

Adding `spec.refreshBeforeApply` would be a solution to this problem.
It would work only in the `manual` mode. The `auto` mode would ignore this flag.

[2022-04-26 09:06] steveww opened #217 "Optionally specify sub directory on SourceRef"
Git repos often have docs, notes, test scripts, etc. included in them. At the moment updating the docs inside a repo causes the tf-controller to perform a plan. If it were possible to specify a sub directory to monitor inside the `sourceRef`, similar to [Flux Kustomize](https://fluxcd.io/docs/components/kustomize/kustomization/), then the plan would only be performed when required.

[code]

[2022-04-26 10:37] steveww commented on #217
I must have missed that in the docs. The `CrossNamespaceSourceReference` does not mention a `path` element.

[2022-04-26 12:08] chanwit commented on #217
yep, both KS and TF sourceRef do not have that `path` field.
`path` only exists at the spec-level of both resources.

If you'd like to exclude some dirs or files. you'd be doing so at a Source definition.

[2022-04-27 17:04] tomhuang12 commented on #216
We can reuse a lot of the code from image automation controller for committing and pushing: https://github.com/fluxcd/image-automation-controller/blob/cd9eaffefc3072df552790e8e1649762e0ef9922/controllers/imageupdateautomation_controller.go#L368-L392

[2022-04-28 08:31] #213 closed

[2022-04-28 08:33] chanwit opened #219 "Write a new getting started guide based on what Pinky did at WOUG"

[2022-04-28 09:25] steveww commented on #216
Rather than double up on the code, how about the image automation controller exposing the PR functionality as an API? Careful consideration of security is essential.

[2022-04-29 10:29] Nalum opened #220 "Recreate Runner Pod"
If the `tf-runner` pod is deleted from the namespace the `tf-controller` does not recreate it.

I've hit this issue but thought it'd messed up something in my setup, hit it again today and had to delete the `tf-controller` which then recreated the `tf-runner`.

[2022-05-02 15:26] tomhuang12 commented on #220
@Nalum thanks for the report. Could you provide a bit more details to reproduce the issue please? When did the `tf-runner` pod get deleted?

[2022-05-02 15:34] Nalum commented on #220
I think it was within a few minutes of creation, no more than 30 minutes after, if I recall correctly.

[2022-05-03 10:00] masterphenix opened #221 "Trying to create Azure resources but azure CLI missing from runner"
Hello,
I have installed the terraform controller on our kubernetes cluster using the Helm Chart, and successfully configured a gitRepository pointing to a terraform workspace.
Howerver, this workspace uses the azure_rm provider to build Azure resources, which requires Azure CLI to be installed in the runner :
[code]
Is there a way to customize the runner to add the missing tools ?

[2022-05-03 14:32] tomhuang12 commented on #221
@masterphenix Yes! The runner dockerfile is [here](https://github.com/weaveworks/tf-controller/blob/main/runner.Dockerfile). You can simply add the dependencies you need, build and push to a registry. To replace the runner image, if you are using the chart, simply override `runner.image.repository` and `runner.image.tag` in values to your image to use it.

[2022-05-03 14:41] masterphenix commented on #221
@tomhuang12 thank you for your quick reply ; I did find and tweak the runner.Dockerfile afterwards.
Now, since I changed the runner image, I have 2 new issues :

a) I need to authenticate to Azure by using 'az login' in the runner before doing anything else :
[code]
To do that, I would like to use Azure Managed Identity (by using AAD Pod Identity), which requires to set a label on the runnner Pod

[2022-05-03 14:51] tomhuang12 commented on #221
Thanks for the update. Yeah currently there isn't an easy way

[2022-05-03 14:54] tomhuang12 commented on #221
^ fat fingerred it 😅

[2022-05-03 14:59] tomhuang12 commented on #166
I think I could put together a quick PR to customize runner pod's metadata. We should probably put more thoughts into customizing the `spec` section since there are some required [configurations](https://github.com/weaveworks/tf-controller/blob/main/controllers/terraform_controller.go#L1972-L1998) needed to be able to run it correctly with the controller and overriding them could cause incorrect b

[2022-05-04 17:19] tomhuang12 commented on #221
@masterphenix the next release should include runner pod label customizing feature. Feel free to install it from main branch if you would like to use it now :).

[2022-05-08 22:05] magnusboman opened #224 "aws_lambda_function fails with 'open lambda.zip: no such file or directory.'"
I'm testing the tf-controller with localstack and the following repo:
https://github.com/localstack/localstack-pro-samples/tree/master/terraform-resources

It creates a lambda function which requires uploading a zip file. I've added the zip file to my repository but the tf-controller fails with:

[code]

Any ideas on how to get this to work?

[2022-05-09 05:32] chanwit commented on #224
Hi @magnusboman
Thank you for reporting this. It is a known issue, and the fix for this issue is being addressed by a new feature (`refreshBeforeApply`) in the next version.

[code]

The backstory of this bug was that we split `plan` and `apply` into two steps. Each step was in each reconciliation loop, and we used a random `tmp` directory for each loop with cleaning up at the end of each cycle. W

[2022-05-10 15:47] Sbou opened #225 "runnerPodTemplate missing in the Helm chart template"
Hello,

The new `runnerPodTemplate` field has been updated to the **config/crd/bases/infra.contrib.fluxcd.io_terraforms.yaml** file but not in the CRDS existing in the Helm chart (**charts/tf-controller/templates/crds.yaml**).

Thank you

[2022-05-10 21:36] wilhelmi commented on #22
Just started to look into this project as alternative to Atlantis. Is the currently anyway to read the plan?

[2022-05-11 04:52] chanwit commented on #22
@wilhelmi yep. One of our use cases is to make it on par with Atlantis.

We got an early release of `tfctl` out. It's usable but yeah it's alpha quality.
`tfctl plan show <tf-object>` would show the plan of the specified TF object. But UX still needs to be improved.
  - the version of terraform binary on your local machine and the supported version must match
  - if your location of the terraform

[2022-05-11 14:27] Nalum opened #226 "Runner Version Update"
I've started up the `tf-controller` and added a `Terraform` resource, this started up the `tf-runner` pod. They had been running for a little over an hour when I ran an update on the helm chart changing the `tf-runner` version, this recreated the `tf-controller` pod but left the `tf-runner` pods untouched.

I would have expected that the `tf-runner` pods would be recreated with the new `tf-runner`

[2022-05-11 14:32] Nalum commented on #220
In #226 I've noted `tf-runner` pods not being updated when the `tf-runner` version is updated.

While trying this I had 2 runner pods going. I decided to delete one of them to see if the `tf-controller` would recreate it, but it didn't. I then deleted the `tf-controller` pod to see if it would recreate it on a new start up but it hasn't.

A cut of the logs from after the new start up, it sees that

[2022-05-17 19:31] magnusboman opened #227 "I keep getting "segmentation violation" on the tf-controller"
[code]

[2022-05-17 19:35] magnusboman opened #228 "Use of AWS role_arn doesn't work"
I'm trying to make use of the AWS role_arn as follows:

[code]

This works locally, but when the tf-controller tries to use it, I get the following error:

```{"level":"error","ts":"2022-05-17T19:22:23.411Z","logger":"controller.terraform","msg":"Reconciliation failed after 14.47423464s, next try in 1m0s","reconciler group":"infra.contrib.fluxcd.io","reconciler kind":"Terraform","name":"x-account"

[2022-05-18 11:20] chanwit commented on #227
Thank you @magnusboman!
It seems to be a known issue.
Duplicate of #212

[2022-05-18 11:24] chanwit commented on #228
The error said you need an AWS block to configure credentials.
It was working locally may be because you have AWS credentials file in your HOME, so Terraform just picked it up.

[2022-05-18 11:25] chanwit commented on #228
Noted for documentations.
It would be great to have a Getting Started guide for AWS.

[2022-05-18 18:11] magnusboman commented on #228
@chanwit I tried it after removing my .aws directory and it works fine with terraform:
[code]

I see that the first line was cut of in my initial paste of the terraform script, it should be like this:
[code]

[2022-05-19 06:44] chanwit commented on #228
That looks correct to me now. Thank you @magnusboman
I'll test a setup with `role_arn` to see what's the root cause of this problem.

[2022-05-19 07:37] #212 closed

[2022-05-19 07:37] #227 closed

[2022-05-19 08:45] o6uoq commented on #2
This would be the same as, in Terraform nomenclature, re-running an apply + plan but with the previous/penultimate state?

[2022-05-19 08:50] o6uoq commented on #97
Assuming this implies Terraform Remote Backends, as listed [here](https://www.terraform.io/language/settings/backends) ?

If so, +1 for S3 and Consul as they are the most common backends in my experience with customers.

[2022-05-20 17:33] chanwit commented on #97
Yes it is

[2022-05-22 09:02] Nalum commented on #220
This issue is potentially not real and was happening due to Proxy setup. Will close it for now and we can re-open if needed.

[2022-05-22 09:02] #220 closed

[2022-05-22 09:03] Nalum commented on #226
This issue is potentially not real and was happening due to Proxy setup. Also due to a misunderstanding of the runner on my part. Will close it for now and we can re-open if needed.

[2022-05-22 09:03] #226 closed

[2022-05-22 13:58] chanwit opened #233 "Support multiple versions of Terraform binary"
We have to support multiple versions of Terraform binary, ranging from v1.1.7 to 1.2.0 at the moment.
This supported range would change according to the versions supported by HashiCorp.

[2022-05-22 14:09] chanwit opened #234 "Home Brew publication error"
Link: https://github.com/weaveworks/tf-controller/runs/6543718640?check_suite_focus=true#step:17:109

cc @phoban01 could you please take a look?

[2022-05-22 14:12] chanwit opened #235 "We fail very early in E2E because of Go install command"
https://github.com/weaveworks/tf-controller/runs/6543716487?check_suite_focus=true#step:16:12

@tomhuang12 could you please take a look?
It failed after @o6uoq changed the `go get` command to `go install` but it might not be related.

[2022-05-22 14:56] chanwit commented on #235
Reverting to `go get` fixed E2E #236. We'll continue to use Go 1.17 only for this project until we find a new solution.

[2022-05-22 14:56] #235 closed

[2022-05-22 14:58] chanwit commented on #225
We corrected it in chart version v0.2.9.

[2022-05-22 14:58] #225 closed

[2022-05-22 14:58] #217 closed

[2022-05-22 14:59] chanwit commented on #224
Please feel free to test it in v0.9.5-rc.3.

[2022-05-22 15:00] #211 closed

[2022-05-22 15:02] chanwit commented on #167
We now support passing env variables like HTTP_PROXY to Terraform (the runner) in #232.
You don't need to set proxy for the controller because it does not run Terraform for you.

This might solve your problem?

[2022-05-22 15:05] chanwit commented on #166
Hi @oliverbaehler
we still need documentation for it, but the implementation already landed in v0.9.5-rc.3.

[2022-05-23 15:45] #203 closed

[2022-05-24 16:35] caspervk opened #239 "Sensitive outputs logged in runner"
I have defined the following terraform output:
[code]
and `Terraform` resource:
[code]

The `tf-runner` logs:
[code]

[2022-05-24 17:50] chanwit commented on #239
Thank you @caspervk
Very good catch.

[2022-05-26 10:56] caspervk commented on #239
WOW! Thanks for the very quick fix! Sorry for not getting back to you and testing the PR. Thanks a lot!

[2022-05-26 11:31] chanwit commented on #239
You're welcome @caspervk. Please let me know if the problem still persists.

[2022-05-26 14:07] caspervk opened #242 "panic: runtime error: invalid memory address or nil pointer dereference"
Getting the following error in the controller:
[code]

[2022-05-27 18:46] chanwit commented on #242
Thank you for reporting this, @caspervk

[2022-05-29 13:31] #242 closed

[2022-05-30 07:38] caspervk commented on #242
Awesome! Thank you for the fix!

[2022-05-30 13:35] caspervk opened #244 "Input name mapping"
Like [output name mapping](https://weaveworks.github.io/tf-controller/use_tf_controller/to_provision_resources_and_obtain_outputs/), it would sometimes be useful to be able to rename inputs too:
[code]

[2022-05-30 19:35] chanwit commented on #244
Thank you @caspervk
This is an excellent addition to TF inputs.

[2022-06-01 15:15] caspervk opened #245 "SIGSEGV: segmentation violation"
[code]

Should be latest:
[code]

[2022-06-01 15:49] caspervk commented on #245
In my particular case, the problem with the `GitRepository` would probably be solved by a solution to our discussion https://github.com/weaveworks/tf-controller/discussions/238, as I would no longer need to deploy a `GitRepository`.

[2022-06-01 16:05] caspervk commented on #245
Actually, @chanwit, a good solution would maybe be to add some kind of finalizer to the `GitRepository` (and perhaps the `ServiceAccount`/`RoleBinding`)? I envision something not unlike `PersistentVolume`, from the [docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/#how-finalizers-work):

Something similar seems reasonable for the relationship between the `Terrafor

[2022-06-01 16:11] chanwit commented on #245
A GitRepository is often shared among TF objects, Kustomization objects etc.

Unfortunately we cannot delete it in the finalizer.

[2022-06-01 17:22] chanwit commented on #245
After consulting the Flux team, we come up with a mechanism similar to what Kustomization Controller is using to deal with this issue.

I'll elaborate more in a PR.

[2022-06-05 14:59] chanwit opened #246 "Support destroy action for a Terraform object not attaching to a Source"
A Terraform object is not guaranteed to permanently attach to a Source. In some scenarios, the Source is deleted before deleting the Terraform object.

Fortunately, `terraform destroy` can be run against a Terraform state to delete all of its resources.
In order to do so, we will improve the semantic of `destroyOnDeletion` to destroy directly with the state file, without `planning` or `applying`.

[2022-06-16 10:52] chanwit opened #249 "Upgrade Terraform to 1.2.3"
The new version of Terraform has been released.
This 1.2.x series contains many significant changes and will break some of our test cases.

https://github.com/hashicorp/terraform/releases/tag/v1.2.3

[2022-06-17 11:15] Nalum opened #250 "Terraform State Lock not released"
We've hit an issue where the State lock was not released due to the runner pod not shutting down correctly (assumption here) due to a node refresh on an EKS Cluster. So we ended up with a Kubernetes `Lease` that was still held.

[code]

The `Terraform` resource was reporting the following:

[code]

Which was repeated in the `tf-controller` and `tf-runner` logs. We were able to get things running a

[2022-06-17 11:34] chanwit opened #251 "Make the runner pod least priviledged"
Many clusters come with policy enforcement. It would be great to make tf-controller and tf-runner pods least privileged by default.

[2022-06-17 11:39] Nalum commented on #250
Another possible solution would be to have the `tf-controller` watching the `Lease`s to see if a `tf-runner` completes but fails to release the `Lease`, the `tf-controller` could then force the release of the `Lease`, this wouldn't require user intervention and could maybe be a configuration of the `tf-controller` or another configuration option of the `Terraform` resource.

[2022-06-17 12:08] Nalum commented on #250
We found two issues that were the cause of this in two separate cases:
[code]

And
[code]

[2022-06-18 19:07] chanwit opened #252 "Implement drift detection request"
We would implement drift detection requests in the same way as reconciliation requests.

[2022-06-21 10:38] chanwit opened #254 "Fix the certification renewal process"
The current implementation of cert renewal uses Secrets as the shared resources. Reading and writing Secrets are expensive, especially when multiple Go routines do so on the same Secret at the same time. This race condition blocks the concurrent reconciliation processes and scalability.

An approach to fix this is to make the renewal process as cheap as possible by using
- caches
- go channels
- i

[2022-06-21 14:41] chanwit opened #255 "Write a test case for inventory"

[2022-06-22 07:05] chanwit commented on #207
Taken care of by
  - [ ] #253
  - [ ] #256
  - [ ] #255

[2022-06-23 05:16] chanwit commented on #255
Fixed by #256

[2022-06-23 05:16] #255 closed

[2022-06-23 14:28] chanwit commented on #97
@fsequeira1 have you got any update on this please?

[2022-06-23 15:11] fsequeira1 commented on #97
@chanwit I can create a pr with the backend part, but it still lacks validation of the backend and support for secrets.

[2022-07-02 18:00] chanwit commented on #234
fixed by 5b8b83e1b320a4640019ca8950b49b1ce69534d6

[2022-07-02 18:00] #234 closed

[2022-07-02 18:01] #207 closed

[2022-07-02 18:04] chanwit opened #261 "A capability to specify pod and container spec for the runner (was: Test new pod security on OpenShift)"

[2022-07-02 18:39] chanwit commented on #251
Fixed by #260

[2022-07-02 18:40] #251 closed

[2022-07-06 14:13] oliverbaehler commented on #167
@chanwit finally had some time to play around with tf-controller again, the actual problem was that the controller could not connect to the runner (we have a soft tenancy in place and therefor very strict networkPolicies). Only saw that once i looked into hubble:
![image](https://user-images.githubusercontent.com/26610571/177570437-6e661dfd-2176-474f-9940-189c44167ab5.png)

Don't know if that shou

[2022-07-06 15:45] #167 closed

[2022-07-06 15:49] chanwit commented on #167
Yes, I'll add it to the docs.

Yes, that's correct.
It pulls artifacts from the source-controller, and pushes each of them to the correct runner.

[2022-07-07 21:53] tomhuang12 commented on #221
@danielsollondon this is released as part of v0.9.5 release.

[2022-07-08 14:23] github-vincent-miszczak opened #263 "Plan output location when backend is disabled"
Hello,

I may have missed something but I can't find my plan anywhere.

I use
[code]
because I don't want to use the provided Kubernetes backend, I want to use my own S3 backend (that is versioned and not limited to 1MB).

I looked at my `Terraform` object and could not find the plan.

I looked at the generated secret and I found `dummy plan` in place of my plan, found https://github.com/weavework

[2022-07-08 14:35] chanwit commented on #263
We have a plan but do not support other backends yet. The `backendConfig.disable: true` is designed for Terraform Cloud integration.

There's a discussion on supporting other backends (https://github.com/weaveworks/tf-controller/issues/97) and there's a contributor who's working on it, but he's been busy until now so the PR hasn't landed yet.

[2022-07-08 18:38] github-vincent-miszczak commented on #263
Makes sense. Thank you for your time. Will wait for this feature.

[2022-07-10 16:43] aacecandev opened #264 "Cannot resolve github domain when using modules"
Hi,

I've found a possible bug when using the tf-runner with Terraform modules. When I try to deploy a lambda function using a Github hosted Terraform module, the tf-runner pod initializes, but all of sudden throws an error.

[code]

I'm not sure if I'm missing something when configuring the Chart. I've tried two different container images:

- ghcr.io/weaveworks/tf-runner:v0.9.5-rc.3
- ghcr.io/wea

[2022-07-19 09:27] Nalum commented on #250
To expand on the above I'm looking at adding the following to the `spec`:

[code]

By default, and following the same path as Terraform, this would require manual intervention by an operator, who would need to put this `[holder-id]` in place in the the `Terraform` resource. This can be done by changing the resource in the Flux `Source` or by running `tfctl force-unlock [terraform-resource] [holder

[2022-07-20 11:47] dfreilich opened #269 "Recursive Path Selection"
Hi!

Is there any option to watch all files in a directory, recursively including subdirectories?

I had tried setting up a `tf` object to deploy `redis`, and when I had the files as top-level files in my source directory, it successfully deployed. When I moved them into a `redis/` subdirectory, it no longer worked, which was not the expected behavior.

My controller `spec` is as follows (with TF

[2022-07-20 11:54] dfreilich commented on #269
After talking to @bivas, I understood that this was the desired functionality - that there is a need to create a different `Terraform` object for any specific directory, given that Terraform by it's nature looks at different directories as different entities.

Was that your thought-process?

[2022-07-20 11:56] chanwit commented on #269
Hi @dfreilich

It should work regardless of the path.
Maybe there's an absolute path reference inside your Terraform module. There's a similar case when people are trying to deploy a lambda function.

[2022-07-20 12:34] dfreilich commented on #269
To clarify - it should watch all files recursively? The TF Object worked when I changed the `path` to reflect the new path (the `./redis` directory). However, the object which had been watching `path: ./` didn't detect files in the `./redis` directory.

[2022-07-20 12:40] chanwit commented on #269
it does that already.
we already have a complex directory structure in this repo for example,

https://github.com/tf-controller/eks-scaling/blob/main/_artifacts/30-tfc-helloworld/tfc-helloworld.yaml

[2022-07-20 12:42] chanwit commented on #269
Maybe there's something in your setup that I don't understand. What are the controller logs and the runner logs saying?

[2022-07-20 13:00] dfreilich commented on #269
The exact scenario I had was where I had deployed a `Terraform` object in my fleet directory, which was watching `path: ./source_dir/`.

Then, in the directory, I created a `./source_dir/redis.tf` file, pushed it, and the `Terraform` object successfully saw that there was a `tf` file, and applied it.

Then, in another commit, I moved the `./source_dir/redis.tf` folder into a subdirectory, called `

[2022-07-20 15:45] chanwit commented on #269
Ah ok, I understand your problem now.

In the current implementation, you're right, the runner is looking for the module only at 1 level.
It's by design as we have to generate many helper files like the backend configuration, the variable, and the cli configuration files.

We have a plan to support workspaces in the future, so this behavior is unlikely to change.

[2022-07-20 15:48] chanwit commented on #264
Hi @aacecandev
Thank you for reporting.

I cannot reproduce this problem. Are you still facing it?

[2022-07-21 20:22] wpbeckwith commented on #233
Perhaps the controller can have a `--default-terraform-version` flag added and the Terraform spec can have an optional `terraformVersion` attribute.  Similar to how the runners get the source artifacts, there could be a cache of tf versions that could be used.

[2022-07-21 20:31] wpbeckwith opened #270 "Add support for terraform targets"
I would like to see support for adding terraform targets.  I imagine something like

[code]
When initially creating the infrastructure we would have the targets section commented out.  But afterwards we would want to restrict terraform to a set of targets.  This will allows us to do creates and deletes of VPCs and clusters without losing the EIPs in the original tf config.  While we can add lifecy

[2022-07-22 14:56] chanwit commented on #270
Thank you @wpbeckwith This is a great feature request!

I'll be looking at the tfexec library we're using to see if it supports passing this target set.

[2022-07-22 17:29] wpbeckwith commented on #270
It does, https://github.com/hashicorp/terraform-exec/blob/495b9eb3d2cd9daebea6191f5329430ea0a72867/tfexec/plan.go#L21

[2022-07-30 13:48] ekristen commented on #249
It might be better to look at supporting multiple or all versions of terraform programmatically. Since tfexec is already being used, this could do something like [tfswitch]() and look at the `versions.tf` for the maximum supported version of terraform and download and use it in real-time vs being hard-coded to a specific version of terraform.

This would make the controller more dynamic and would

[2022-07-30 13:57] ekristen opened #271 "Support plan output larger than 1MB"
Since the plan is being stored in kubernetes it's limited to 1MB, this isn't hard to hit on larger terraform projects.

Ideas to support.
- [ ] Split the plan file and store in multiple secrets
- [ ] Plan file artifact API using ephemeral storage
- [ ] Support uploading/downloading from S3

### Idea: Split

This is pretty straight forward, but basically chunk the file into something less than 1MB

[2022-07-31 16:46] chanwit opened #274 "GC generated cert secrets left over by the old controller"

[2022-08-02 12:40] #189 closed

[2022-08-02 12:41] #254 closed

[2022-08-02 12:41] #177 closed

[2022-08-02 12:41] #145 closed

[2022-08-03 09:53] chanwit commented on #271
Thank you so much @ekristen

I think we can start by splitting big gzip bytes into 1MB (or less like 900 KB?) chunks.
For example, a plan of size 2.1MB would be split into 1MB, 1MB and 100MB chucks.

The first secret would be named normally like, `tf-plan-helloworld`.
The second secret would be named `tf-plan-helloworld-chunk-1`.
The third secret would be named `tf-plan-helloworld-chunk-2`.

Insid

[2022-08-03 14:27] ekristen commented on #271
@chanwit that's the conclusion I came to. I think to limit the number of edge cases and logic, it should always split at like 850/900 KB (even if it is less) and treat the main secret as a meta secret that just contains a data entry for the number of chunks which would always be 1 or more and perhaps SHA hash if for validating the reassembly.

[2022-08-03 14:34] chanwit commented on #271
@ekristen that's cool. Maybe we would try crafting something and K8s will tell us the real limitation it has.

[2022-08-03 16:03] aacecandev commented on #264
@chanwit I'm still facing it. I didn't attach the source code, but it is public.

https://github.com/aacecandev/flux-testing
https://github.com/aacecandev/tf-lambda

Latest commit commented out all the module code and I tried a simple S3 bucket and it worked.

[2022-08-03 16:36] ekristen commented on #271
I started doing this on my own project and I know the rancher team had to do this as well, it's a decent pattern that seems to work.

You can also use projected volumes if using a separate pod per run to mount all the secrets to a single directory and the piece them back together, or you can just use the k8s client to find and assemble.

[2022-08-03 16:41] chanwit commented on #271
This would be a good candidate for a `tfctl` command.

[2022-08-03 16:54] ekristen commented on #41
@chanwit have you thought about solutions to this yet? This is definitely a tricky aspect. One thought I had was to develop a second "source" controller who's job it is to run terraform init for each version of the source code reference and then reference it like kustomize controller does when sourcing an artifact from the source controller.

[2022-08-03 16:55] ekristen commented on #249
@chanwit thoughts ^

[2022-08-03 17:12] #127 closed

[2022-08-04 06:58] chanwit commented on #41
I would tackle this problem using a simple image-based approach.
We had a plan to have `tfctl image build` command, for example, for users to opt-in:

  - Their custom version of Terraform binary
  - Their pre-loaded set of providers

One of the goals is also the enablement of TF-controller in airgap environments.

[2022-08-04 08:22] chanwit commented on #249
This is an incredible approach. I didn't think about that.

We would bundle multiple versions, say 0.1x, 1.1.x, and 1.2.x in the image and make it switchable via a soft link. What do you think?

[2022-08-04 15:14] tomasz-zylka opened #278 "Env var is passed to Runner Pod, but NOT into terraform binary"
Hi Guys,
I've hit an issue I can't resolve for few hours.
According to #232 and #223 env vars are injected into runner pod.
So I added following line to Terraform custom resource:
[code]

Whenever runner start it's duty and call `terraform plan` I see in logs such lines and plan fails:
[code]

If I exec into the runner pod and call:
[code]
I can see correct value.
Also calling manually `terraform

[2022-08-04 15:14] chanwit opened #279 "EnableInventory should trigger the inventory generation"
Currently when specifying `.spec.enableInventory: true` after the first time the resource applying, inventory was not appeared.
It required "force" apply to show the inventory.

We need to make sure that there will be the inventory information when this flag is true.

[2022-08-04 15:53] Nalum commented on #278
@tomasz-zylka can you give an example of the provider you're setting up?

[2022-08-04 16:00] tomasz-zylka commented on #278
sure @Nalum here is my .tf file stored by GitRepository
[code]
thanks!

[2022-08-04 16:08] Nalum commented on #278
Thank you, I'll get back to you as soon as I can :+1:

[2022-08-04 20:06] ekristen commented on #249
You can actually do this all from tfexec, if you add a bit of logic, you can have it download the necessary binary automatically and you don't need to engineer a soft link switch, and since this is already using tfexec, it shouldn't be too problematic to do.

[2022-08-05 09:15] Nalum commented on #278
The issue is that the code doesn't do anything with `valueFrom`, I should have a PR up to fix this shortly :+1:

[2022-08-05 09:35] tomasz-zylka commented on #278
@Nalum thank you for such a quick response and action!

[2022-08-05 14:43] chanwit commented on #264
@aacecandev could you test it against v0.10.1 please?
It might be caused by HOME being the read-only filesystem, which was fixed to be writeable in v0.10.1.

[2022-08-09 05:46] chanwit opened #283 "Support OCI Repository"
Flux's Source controller v0.26.0+ introduces a new kind of source, called OCIRepository.
It would be great for us to support this source.

[code]

[2022-08-09 05:51] chanwit commented on #283
ping @kingdonb for visibility :-)

[2022-08-09 13:06] prune998 opened #284 "make the tf-controller compatible with other CD tools"
Just asking the question here, as I know this project is tied to Flux right now.
Do you see any way that we could use that with any other CD tooling like ArgoCD ? What would be the effort needed to open it ?

Thanks.

[2022-08-09 14:02] chanwit commented on #284
Hi @prune998

It's actually not very tied to Flux in a sense as it's working already on Argo CD via the Flux Subsystem for Argo.

Here's the tutorial:
https://flux-subsystem-argo.github.io/website/tutorials/terraform/

[2022-08-09 14:04] prune998 commented on #284
Thats is super great ! Thanks @chanwit... I was reading the docs but never went down to the tutorials !
Thanks !

[2022-08-09 14:04] #284 closed

[2022-08-09 14:19] tomasz-zylka commented on #278
Hi @Nalum
not trying to push in here, just want to plan my next actions ;) therefore would like to ask you when do you think #280 will be merged and more importantly when will it be included in a release?
what's your feeling on this?:)
thanks!

[2022-08-09 14:21] Nalum commented on #278
Hi @tomasz-zylka, no worries. I think the PR is ready to go, just need the maintainers to sign off on and merge it.

@chanwit thoughts?

[2022-08-09 16:34] chanwit commented on #278
@tomasz-zylka, sure we'll put it into an RC for you to try it out.

[2022-08-09 17:17] #278 closed

[2022-08-09 17:19] #283 closed

[2022-08-10 06:01] chanwit commented on #224
Hi @magnusboman
Are you still getting blocked by this bug?

[2022-08-12 15:52] ekristen commented on #41
What about a terraform source controller that can take the source artifact from the source controller, run terraform using tfexec (so the version is selected automatically) and grabs all the providers and then creates a tar.gz like the source controller, from there the tf-controller uses it?

[2022-08-12 16:50] tomasz-zylka commented on #278
hi @chanwit, @Nalum
v0.11.0 works like a charm
thank you for your support :)

[2022-08-12 21:20] ekristen commented on #41
@chanwit thinking about this more, I wonder if by using tfexec and including the latest patched terraform binary in the docker image 1.0.9, 1.1.9, 1.2.4 and then making use of the terraform network mirror with an nginx config, we could pass through cache the files to disk.

There's a terraform installation network mirror setting that can be dropped into the .tf code that can signal that a mirror s

[2022-08-13 01:21] ekristen commented on #41
The only catch is that terraform forces an https endpoint for network mirrors at the moment. Would be nice if http was supported then it could just use a proxy in the cluster.

[2022-08-13 07:28] chanwit opened #289 "Add type safety for custom backends"

[2022-08-13 08:13] chanwit opened #290 "Implement backendConfig with secret"
We cannot use variables in the backend block, but we can use `-backend-config` arguments of the `init` command to set the values.

[code]

We need to support setting backendConfig from secrets so that we can pass credentials like the above to the backend block.

[code]

[2022-08-13 09:13] #219 closed

[2022-08-14 17:43] #290 closed

[2022-08-14 17:45] chanwit commented on #271
Now with the custom backend merged by #288, we can use, for example, S3 to store tfstate.
Chunk-based tfplan can now be prioritized.

[2022-08-14 17:48] chanwit opened #292 "Release plan for v0.12.0"
- [x] #97
  - [x] #290
  - [x] #302
  - [x] #295
  - [x] #323
  - [x] #319

[2022-08-14 17:50] chanwit commented on #97
fixed by #288

[2022-08-14 17:50] #97 closed

[2022-08-14 17:52] chanwit opened #293 "Release v0.13.0"
- [x] #325

[2022-08-14 20:14] artem-nefedov opened #294 "Feature request: Support multiple authentication strategies and endpoints"
It would be very useful if it was possible to tell tf-controller how to perform authentication and which endpoint to use explicitly (e.g. separate CRD?), and have multiple strategies active at the same time, similar to how Crossplane does it with ProviderConfig resource.

Example use case (this is possible to do with Crossplane):
I want to use the controller to create resources in both AWS and AWS

[2022-08-15 04:37] chanwit commented on #294
Thank you @artem-nefedov !!
This is for sure a practical feature request.

I reviewed the concept of Crossplane's providerConfig and found that we already support a similar mechanism with variables and service accounts.

Please note that it's not the controller that assumes roles before provisioning; it's the runner on **separate pods**, with **different service account**, and you can optionally p

[2022-08-15 06:08] artem-nefedov commented on #294
Thanks for reaching out @chanwit .

Based on your explanation, I assume you mean [Customize runner pod](https://weaveworks.github.io/tf-controller/use_cases/#customize-runner-pod) section of the docs. It looks like it is possible to template runner pod. Going back to my usecase, does it mean that to use static IAM user for AWS China I would have to write Pod template all the way down to containers

[2022-08-15 07:22] chanwit commented on #294
For static credentials, or in the case of assuming a role, you can use varsFromSecrets to solve both issues in Terraform ways.
You would prepare your TF files with the following blocks.

For AWS,
[code]

You can then supply values of those two variables.
[code]

For AWS China, use this config, and you supply your `aws-cn-creds`.
[code]

[2022-08-15 07:52] artem-nefedov commented on #294
Thanks @chanwit ! That sounds reasonable. I'll try to do as you say and see if there are any problems.

[2022-08-15 07:54] chanwit commented on #294
You're welcome.
These solutions would work everywhere Terraform works.

[2022-08-15 11:26] chanwit commented on #271
1 MiB is equal to 1048576 bytes, so we can use 1000000 bytes as the limitation.

[2022-08-15 11:29] ekristen commented on #271
I think we should make it 850-900 for buffer and so that if annotations or labels are needed later we aren't pushed up against the threshold.

[2022-08-15 12:05] akselleirv commented on #270
@chanwit if help is wanted, I can create a PR for this feature.

[2022-08-15 12:08] chanwit commented on #270
@akselleirv that would be fantastic. thank you so much!

[2022-08-15 14:18] chanwit opened #295 "Make alert for drift detection work"

[2022-08-15 16:37] Nalum commented on #250
I have changed the above noted structure as it impacts the `backendConfig` in a way that seems to complicate it more than I'd like.

So I've moved `spec.backendConfig.state` out to `spec.terraformState` and changed the structure of this a little to the following:

[code]

`spec.terraformState.forceUnlock` defaults to `no`

[2022-08-15 17:57] chanwit commented on #250
Thank you @Nalum
This design is excellent. It gives us auditable activities for force unlocking.

[code]

There are a few things to improve UX.
  - I would change `terraformState` to `tfstate` so users would be able to reason that they're working with `tfstate` at the moment.
  - What are the semantics of `forceUnlock=yes` and `forceUnlock=auto`? How are they different?

[2022-08-15 21:35] Nalum commented on #250
Thanks for the feedback 👍

Ah yes, this makes sense, will make this change 👍

The purpose of `auto` is to have the `tf-controller` automatically unlock the state, in the case where the user is happy for this to happen, and `yes` is a manual trigger, the expectation being that it is triggered from the `tfctl`.

This has just made me think about some of the implementation and I need to revisit it.

[2022-08-16 11:44] artem-nefedov opened #296 "Helm chart: using runner ServiceAccount created by eksctl with imagePullSecrets"
eksctl has built-in support for EKS IRSA, where it can create both IAM role and corresponding ServiceAccount in cluster based on defined manifest. With this approach, it makes sense to not create by helm ServiceAccount at all, so you would specify something like this in values:

[code]

The problem arises if you also need to use private image registry that requires authentication, so you also need

[2022-08-16 12:24] Nalum commented on #296
Another approach here could be to use annotations to associate the runner service account with your IRSA IAM Role:

[code]

[2022-08-16 12:30] vbezhenar opened #297 "Can't use different namespace"
I installed tf-controller using the following flux files:

[code]

I can see that it created service account `tf-runner` in namespace `tf-controller`:

[code]

Now I'm trying to reconcile Terraform resource which is located in a different namespace.

[code]

This does not work. I'm getting the following errors in controller:

[code]

I expect the controller to work across all namespaces in the clu

[2022-08-16 12:40] artem-nefedov commented on #296
@Nalum I know. But this approach doesn't work if you want to use eksctl to create IAM roles, because eksctl will always also create a ServiceAccount in this case. And if you try to install helm over existing ServiceAccount without disabling its creation, it will complain about the conflict. You can't just use a different SA name, because eksctl creates trust policy for that specific name in that s

[2022-08-16 13:01] Nalum commented on #296
Ah right, sorry I forgot that the IRSA Role needs to have the name of the Service Account set. You could pass the flag `--role-only` in the eksctl command to not create the serviceaccount and allow the helm chart to do that side of it.

https://eksctl.io/usage/iamserviceaccounts/#how-it-works

[2022-08-16 13:44] artem-nefedov commented on #296
@Nalum Thanks for pointing out `--role-only` flag. There are 2 problems with it:

1. We use declarative approach, where every IAM ServiceAccount is declared in a single eksctl yaml manifest. And for all other IAM ServiceAccounts listed there, we actually need to have ServiceAccount created. This option doesn't support telling it exactly what SA should be created and what shouldn't, so having a sin

[2022-08-16 14:57] artem-nefedov opened #300 "Hanging deletion after creating Terraform resource in namespace without ServiceAccount"
When you create a Terraform resource in a namespace without `tf-runner` ServiceAccount, attempting to delete it will hang indefinitely. You have to manually remove finalizer "finalizers.tf.contrib.fluxcd.io" to unblock deletion.

Meanwhile, controller will continuously report the same logs:

[code]

Controller version: `v0.12.0-rc.1`

`interval: 1m0s` (in case that is important)

[2022-08-16 15:06] artem-nefedov commented on #297
I agree that this is a big deal. Originally, I assumed that tf-runner will always run in controller's namespace (flux-system), but apparently this isn't the case.

[2022-08-16 16:19] artem-nefedov commented on #294
Hey @chanwit . I've looked into your suggestion, and found a rather big inconvenience that we will need to have 2 different root modules at different paths in the source (one for AWS global and one for AWS China), because only AWS China needs to have access_key/secret_key passed (since AWS global uses IRSA), and this part can't be dynamically disabled in the provider declaration. This makes us hav

[2022-08-16 16:37] artem-nefedov commented on #294
I've realised that I didn't test just setting access_key/secret_key to `null` for AWS global. Need to try that.

[2022-08-16 16:50] chanwit commented on #294
Let me know your result.

We haven't used the concept of code generation much in TF-controller.

Maybe it's a good opportunity to think about supporting this.

[2022-08-16 17:07] chanwit commented on #297
It says the serviceaccount "tf-runner" is not found inside the "keycloak-system" namespace.

We use the Controller / Runner architecture.
You need to create the `tf-runner` serviceaccount in every namespace where you'd like to run Terraform.
For example, in this case your runner pods will be created inside "keycloak-system".

You might also be blocked by the " flux-system " network policy too if y

[2022-08-16 17:18] chanwit commented on #296
It seems to be a must-fix feature. Let me take a look at it.

[2022-08-16 17:25] Nalum commented on #294
@artem-nefedov are you able to use multiple providers in the same module?

e.g.

[code]

[2022-08-16 19:00] vbezhenar commented on #297
So if someone stumbles upon this, here's exact recipe that I used which seems to work for me.

1. Only use `flux-system` for helm install.
2. Create the following resources in the namespace where you want to put your `Terraform` resource:

[code]

[2022-08-16 21:58] artem-nefedov commented on #294
@Nalum The idea is not to create resources in both partitions within a single module, but rather to be able to run same module in both partitions separately without changing the module code.

@chanwit `null` values for access_key/secret_key worked. So there's no general problems with this setup, and I guess changes in controller aren't necessary. The only downside I see is that when using external

[2022-08-17 04:41] chanwit commented on #294
Backend doesn't support variables, but we have a mechanism to support passing secrets as backendConfig. It's in the newly RC release. Please refer to `spec.backendConfigsFrom`.

You can also enable encryption for S3 backend.

Let me know if it's helpful for your use cases.

[2022-08-17 06:07] chanwit commented on #297
Thank you for sharing @vbezhenar!

[2022-08-17 07:56] #297 closed

[2022-08-17 08:22] Nalum commented on #294
@artem-nefedov understood, I was going to suggest setting the envvars for the provider to pick up, but you have noted that already :+1:

[2022-08-17 09:03] artem-nefedov opened #302 "Terraform not having status initialized breaks the Flux Kustomization health checks behavior"
# Description

When applying Terraform objects using flux Kustomization created with `--wait` flag (`wait: true` in the manifest), it is expected that Kustomization will only become "ready" after all Terraform resources in it reconcile successfully.

However, what actually happens is that Kustomization becomes ready immediately upon creation, and then changes state from "ready" to "in progress" af

[2022-08-17 11:12] chanwit commented on #302
Yes, we also observed that behavior but hadn't had a chance to capture it as a bug.

Thank you for reporting this @artem-nefedov!

[2022-08-17 11:31] artem-nefedov commented on #294
Can confirm that putting AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY into Secret and passing it via `envFrom` to the runner also works.

So, I'll close this ticket as it seems that there's already enough functionality from the controller's side.

[2022-08-17 11:31] #294 closed

[2022-08-17 19:13] elisiano opened #304 "Live runner environment to interactively run terraform commands."
Howdy!
We are using a finicky terraform provider that bails whenever the remote resources have been deleted outside of terraform.

Ideally this should be fixed in the provider to just recreate the resources but this got me thinking that it might be useful to have a live pod where we can exec inside and run terraform commands (specifically `terraform state ...` ones).

The use cases I have in mind

[2022-08-18 12:51] chanwit commented on #304
Thank you @elisiano

get the state (as documented)
run terraform commands
upload the changed state (as documented)
resume the reconciliation

Yes, we would also encapsulate these steps into a command to help the debugging process.

We are locked down by Kubernetes' security for some reasons, yes. Me too; I exec into the pod and didn't find any manifest.

But for the Secrets, we're trying to be as

[2022-08-18 13:48] mjazwiecki opened #305 "custom azurerm backend"
Hello,

Excited with latest development of custom backends, I was trying to get azurerm backend working without a success.
I have latest flux and tf-controller installed on the cluster.
Here is my Terraform:

[code]

I am using AKS pod identity, hence the backend has `use_msi  = true` as it would normally have.
Once this is deployed, in logs tf-controller complains that:
[code]
When setting `.spec

[2022-08-18 14:00] chanwit commented on #305
Thank you for reporting this @mjazwiecki

Nop, I think it's definitely a bug.

[2022-08-18 14:33] chanwit commented on #305
@mjazwiecki did you just happen to upgrade from the previous version, and you got the old CRD inside the cluster?

[2022-08-18 14:53] mjazwiecki commented on #305
I first tried with old version of Flux and only then I upgraded it. In both cases the error was the same.

[2022-08-18 14:57] chanwit commented on #305
Sorry for not being clear. I meant the old version of the TF-controller and its chart.

[2022-08-18 20:34] artem-nefedov commented on #233
I wonder how this will be implemented:
- multiple prebuilt images?
- one prebuilt image but multiple binaries stored inside?
- runner downloads terraform binary at runtime from the internet? (support private repo with authentication?)
- ???

[2022-08-19 07:20] mjazwiecki commented on #305
With `helm.sh/chart=tf-controller-0.5.0` the error is still there.

[2022-08-19 07:32] chanwit commented on #305
could you `kubectl` describe the object and paste the result here, please?

[2022-08-19 08:39] cakriwut opened #307 "Invalid rootfs pulling the image"
Hi team,

I run
[code]

But it gives me error __invalid rootfs in image configuration__.

I am using this
Distributor ID: Ubuntu
Description:    Ubuntu 20.04 LTS
Release:        20.04
Codename:       focal

My docker version
Client:
 Version:           20.10.12
 API version:       1.41
 Go version:        go1.16.2
 Git commit:        20.10.12-0ubuntu2~20.04.1
 Built:             Wed Apr  6 02:14:3

[2022-08-19 08:45] mjazwiecki commented on #305
`> k describe crd terraforms.infra.contrib.fluxcd.io `

[code]

[2022-08-19 11:04] Nalum commented on #307
I think this is an OCI Helm Chart, you would need to pull it using helm as follows: `HELM_EXPERIMENTAL_OCI=1 helm pull oci://ghcr.io/weaveworks/charts/tf-controller --version 0.3.9`

However it looks like it's not been packaged correctly, @chanwit thoughts on this? I might be complete wrong here as I've not looked at this before.

[code]

[2022-08-19 11:12] Nalum commented on #307
Ah looks like the error I have is due to a change in the Helm OCI manifest, I'm running helm `v3.6.1` updating to the latest version has worked:

[code]

[2022-08-19 11:45] chanwit commented on #307
Hi @cakriwut

Like @Nalum suggested, it's not for the `docker` command but for being consumed by Helm or Flux's HelmController.

[2022-08-19 11:48] chanwit commented on #305
Thank you @mjazwiecki

I'll investigate more into this issue on an Azure cluster.

[2022-08-19 14:00] cakriwut commented on #307
Hi @chanwit / @Nalum ,

Thanks for the response.
Unfortunatelly, for this issue I didnt do helm install - I only tried to run docker pull based on the instruction in the Release page.

I can do helm install from this repo - https://weaveworks.github.io/tf-controller/ , successfully.
The helm install latest tf-runner and tf-controller **v0.12.0-rc.1** , unfortunatelly this image always give me this

[2022-08-19 15:20] chanwit commented on #307
You just need Flux version v0.32.0 for v0.12.0-rc.1.

[2022-08-19 16:19] Nalum commented on #250
Closing as #268 has been merged!

[2022-08-19 16:19] #250 closed

[2022-08-19 17:39] artem-nefedov commented on #249
But what about clusters with tight security, where you can only download stuff from private repos?
Will it support some form of authentication?

Just a thought here: how about re-using existing functionality of Flux's OCIRegistry source to allow user to get terraform binary from there?

[2022-08-23 09:12] artem-nefedov commented on #296
After looking at eksctl schema, I found that `ClusterIAMServiceAccount` actually supports `roleOnly` field, so you can define it directly in the yaml manifest.
Combined with specifying static role name there, which can then be used in annotation, this is probably good enough as a solution.
You may close this ticket if you wish.

[2022-08-23 23:28] cakriwut commented on #307
Thanks. Confirmed needs Flux version v0.32.0

[2022-08-23 23:28] #307 closed

[2022-08-24 13:00] #302 closed

[2022-08-25 16:01] chanwit opened #315 "Add Terraform's cluster role binding for notification controller"

[2022-08-28 06:09] chanwit opened #318 "Investigate how to use TF-controller to notify via GitHub commit status"

[2022-08-28 06:10] #295 closed

[2022-08-28 06:13] chanwit commented on #295
We got drift detection work via the Notification controller. The Flux's doc will include instructions how to set the notification controller up to support Terraform soon.

Screenshot:
![image](https://user-images.githubusercontent.com/10666/187060366-fe150063-e96d-4a09-9c36-b3a94fe98661.png)

[2022-08-28 06:14] chanwit opened #319 "Add events to notify when TF resources got destroyed"

[2022-08-28 07:43] artem-nefedov commented on #302
I tested `v0.12.0-rc.2` with the fix and I still see this issue.

To reproduce, just apply a kustomization using flux cli with `--wait` flag and `--path` pointing to a directory with a `Terraform` object

[2022-08-28 07:58] chanwit commented on #302
I re-arranged the logic to make the status happen sooner, but if it didn't fix your issue, maybe I had to take a look at other parts of the ready status too.

[2022-08-28 09:58] artem-nefedov commented on #302
@chanwit It's really easy to reproduce, you can test it as I described above. Expected behavior when creating Kustomization with `--wait` is that it will return only after all child resources are ready, but here you will see that it returns immediately.

[2022-08-28 10:37] chanwit commented on #302
Thanks @artem-nefedov
I should have done that.

The problem seems to be hiding inside other stages of the workflow too.

[2022-08-29 10:09] itamar-marom opened #322 "Supply Git credentials for runner"
In the case of using a module that is stored in a git repository (self-hosted GitLab for example), the runner requires a username and password for cloning this module. Currently, it looks like there is no such way.

Log:
[code]

I want to be able to pass it an access token, username, password

[2022-08-29 12:27] chanwit commented on #322
Thank for reporting this @itamar-marom
how did you normally pass those credentials in?

[2022-08-29 12:30] #270 closed

[2022-08-29 14:05] chanwit opened #323 "Re-fix the object status that still breaks a Kustomization pipeline."

[2022-08-29 16:18] chanwit opened #324 "Implement "secure by default" in TF Controller"
The "lockdown" mode would be enabled when passing `--no-cross-namespace-refs` to the controller.
In this mode, TF-controller does not allow a Terrafrom CR to refer to Sources that live outside its namespace.

 - [x] #782 ADR saying we'll deny corss-namespace refs by default
 - [x] #676 Support --no-cross-namespace-refs in branch-planner
 - [x] Extend cross-namespace-refs denial to refs in config (

[2022-08-30 07:31] itamar-marom commented on #322
With git credentials helper or running from GitLab CI in my case(which takes care of that), but there might be a better way.
https://www.terraform.io/language/modules/sources#generic-git-repository

I'll try to think on some ideas

[2022-08-30 17:10] chanwit opened #325 "Implement webhook for the plan stage"
Adding a Webhook after the "plan" stage and before the "apply" stage would add many benefits to the workflow, including
- plan validation
- cost estimation

**Payload specification**
Content-type: `json`
Body:
[code]

pseudo status:
In the above payload, we'll have the **pseudo** status `status.tfplan` to contain a full Terraform plan in JSON format to the endpoint.

This process expects 200 to pr

[2022-08-31 12:16] bivas commented on #322
@chanwit I created a PR suggesting a way to run init commands to the runner container. The user can provide a command to run and by that @itamar-marom can run `git config` commands to setup his Git creds

[2022-08-31 12:46] chanwit commented on #322
Thank you @bivas

Letting users run arbitrary commands is too risky for remote execution exploits.
A better way might be mapping Secrets data to file contents instead.

[2022-08-31 12:50] bivas commented on #322
I agree. Mapping is a much better idea.

[2022-08-31 13:15] chanwit commented on #322
That won't work because we have a volume mapping for the whole `/home/runner`.

But we would tell the runner to load file contents from Secrets after the runner pod got initialized via gRPC.

[2022-08-31 13:24] itamar-marom commented on #322
I'll be happy to open a PR for that. just trying to understand - You will get the secret in the `RunnerPodSpec` an environment variable and then load its content to an actual file?

[2022-09-01 22:46] tomhuang12 opened #328 "Update makefile as it is failing to install required binaries for Go v1.18+"
`go get` no longer installs the binaries: https://go.dev/doc/go-get-install-deprecation.

I think we can add something so that it runs `go get` for v1.17 and lower and `go install` for v1.18+.

[2022-09-02 12:21] chanwit opened #329 "Refactor the architecture to be A Flux Extension Runtime"
We have been using the current architecture for a while, and it seems to have many good properties.
For example,

- Multi-tenancy by default
- gRPC-based mTLS communication between controller and runner
- Scalable (~1,500 concurrencies so far)

This architecture should be refactored to be a reusable Golang module so that we can leverage it to create other Flux extensions.

[2022-09-02 17:43] pjastrzabek commented on #152
imho specifying namespace in varFrom is not supported

[2022-09-06 08:25] Nalum commented on #328
Is it worth having a build container that runs all the make targets? That way the versions are in control and not relying on other peoples systems.

[2022-09-06 09:21] chanwit commented on #319
Fixed by #334

[2022-09-06 09:21] #319 closed

[2022-09-06 10:43] #322 closed

[2022-09-06 14:06] itamar-marom opened #336 "Different solution for storing Terraform plans"
Storing the Terraform plan in a secret has two limitations:
- Large plans cannot be stored in secret due to the secret limit
- Storing those secrets (on a large scale) in the etcd can cause some performance issues

We should find a different store for that.

[2022-09-06 14:11] itamar-marom opened #337 "Pre-run Terraform providers generation"
In order for platform groups to provide services with simple configurations, there is a need to generate for Terraform some providers' configurations (by looking at the Terraform required providers).
This needs to happen before Terraform initialization.

[2022-09-06 14:16] itamar-marom opened #338 "Ability to provide multiple locations of .tfvars files with precedence"
Managing multiple environments of one terraform module requires holding specific .tfvars (or more than one) for each environment.
We need the ability to provide the `Terraform` object, a list of paths from the same `sourceRef` that holds a `.tfvars` files and we also need to specify some kind of precedence between them. How terraform handles var-files:

[code]

[2022-09-06 14:18] itamar-marom commented on #338
It can be a new field under Terraform's spec --> `varFiles`. It will hold a list of paths to `.tfvars` files and will add them in that order of precedence.

[2022-09-06 14:53] itamar-marom opened #339 "TF controller installation using the Getting Started is not working"
Using TF-controller's [getting started command](https://weaveworks.github.io/tf-controller/getting_started/#:~:text=kubectl%20apply%20%2Df%20https%3A//raw.githubusercontent.com/weaveworks/tf%2Dcontroller/main/docs/release.yaml) for installing TF-controller is not working.

To reproduce:
[code]

The TF-controller will fail with this error in it log:
[code]

[2022-09-06 20:43] steve-fraser opened #341 "Update TF spec from varsFrom to valuesFrom to match Flux HelmRelease spec"
Update TF spec from varsFrom to valuesFrom to match Flux HelmRelease spec

[2022-09-07 06:21] chanwit commented on #322
@sergibarroso-datarobot we decided to go with the simpler file mapping mechanism, which allow you to map secret contents as files for limited locations instead.

Docs to come very soon for v0.12.0.

[2022-09-07 07:52] bivas commented on #338
If we're already on the subject, we should also support inline var input.

[2022-09-07 07:53] bivas commented on #338
These var files must be relative to the workspace and can be either pre exist in the cloned repository or mapped using the fileMapping option

[2022-09-07 08:26] bivas commented on #337
Note that no all providers require specific configuration, so we only need to generate the files based on user configuration (either in `Terraform` or extended API).
The flow might be:
Prior to running `terraform init` TF-controller requires to run `terraform providers` and collect a list of required providers from Terraform configuration files. TF-controller can now generate provider configration

[2022-09-07 08:35] sergibarroso-datarobot opened #342 "BackendConfigsFrom with CustomConfiguration"
Reading the code, I can see that BackendConfigSpec has a field named `CustomConfiguration` to store the custom config JSON as a string.

But I couldn't figure out what `key` I should use to have a `CustomConfiguration` in a configMap and reference it via `BackendConfigsFrom`.

Is this use case implemented?

[2022-09-07 11:51] chanwit commented on #341
While Helm has the semantics of `values`, there is no such semantics in the Terraform world.
Terraform has the concept of `var` blocks. That's why we designed `varsFrom` to support them.

[2022-09-07 12:05] chanwit commented on #292
We are now ready to release v0.12.0.

[2022-09-07 12:42] #292 closed

[2022-09-07 12:53] chanwit commented on #336
Thank you @itamar-marom

We would use a similar configuration as `backend` for storing plans.

[2022-09-07 15:46] chanwit commented on #325
Here's the proposed API:

[code]

[2022-09-07 15:46] chanwit commented on #325
We would support only the `post-planning` stage for the current implementation.

[2022-09-07 15:49] chanwit commented on #325
Webhooks would be processed one by one from top to bottom.
If a webhook returns 200, the process will continue to the next one.
If a webhook returns non-200, the process will stop, and the remaining webhooks will be skipped.

[2022-09-07 16:19] #166 closed

[2022-09-07 16:19] #58 closed

[2022-09-07 16:23] chanwit commented on #22
As of v0.12.0, we support storing human readable plan output in ConfigMaps, like this:

[code]

[2022-09-07 16:25] chanwit commented on #339
We updated the yaml file and the doc. Could you try it again, please?

[2022-09-07 16:26] chanwit opened #344 "TF-controller Release plan for v0.14.0"
- [x] #279
  - [x] #305
  - [ ] #474
  - [ ] #462
  - [x] #471
  - [ ] #233
  - [ ] #271
  - [ ] #472

[2022-09-07 19:28] ericdalling commented on #22
@chanwit I upgraded our tf-controller to v0.12.0 but I do not see our plans in ConfigMaps, only in Secrets. Is there a change that I need to make to enable this?

[2022-09-07 19:59] ericdalling commented on #22
Never mind, I think I found it...
`storeReadablePlan: human`

[2022-09-07 23:34] chanwit commented on #22
yes, @ericdalling
we'll iterate to improve this behavior over time. For now it's `storeReadablePlan: none` by default because
  - `storeReadablePlan: json` requires an extra secret to store it, while
  - `storeReadablePlan: human` requires an extra configmap to do so.

[2022-09-07 23:40] chanwit commented on #325
We require a secretRef to refer to a TLS cert for each web hook too.

[2022-09-08 00:04] chanwit commented on #325
Who's responsible for sending data to webhook and why?
  - Controller?
  - Runner?

[2022-09-08 00:07] chanwit commented on #325
The controller should be responsible for posting data to webhooks so that the network policy can be centralized.

[2022-09-08 02:38] wpbeckwith commented on #22
While you all work on getting comments on a PR, please support being able to reverse how a comment is posted to a PR.  By example, if a plan's output would be so big as to need to be broken up into 3 commit messages, then Atlantis will post them in the following order:
3 - end of the plan output
2 - in the middle of the plan output
1 - beginning of the plan output

So that any person reading the c

[2022-09-08 08:42] itamar-marom commented on #339
Now its up, but logs show:
[code]

I ran the commands above. Is this expected?

[2022-09-08 08:44] chanwit commented on #339
Please upgrade Flux.
It requires Flux v0.32+ to install as we now support OCIRepository.

[2022-09-08 12:14] itamar-marom commented on #338
After chatting with @bivas

Already exists with the `Spec.vars` in Terraform object

There's a big question to talk about:
How do we see the precedence between `fileMappings`,` varsFrom`, `vars` and the new field we will create? BTW looks like there are too many ways to pass variables. Good because features are always welcomed, bad because it's confusing.

There are some cases where we want to use

[2022-09-08 14:19] itamar-marom commented on #339
Looks like brew just doesn't hold the latest release of flux.
running:
[code]
works as expected.
Do we have something to do with brew?

[2022-09-09 16:31] github-vincent-miszczak opened #347 "error pending plan and plan's name in the secret are not matched"
Hello,

I have 3 `terraform` resources managed by tf-controller.
2 of them are fine, one reports
[code]
When updating Git code, the updates do happen, but the message comes back with new commit ID.

Having a quick look, https://github.com/weaveworks/tf-controller/blob/3ae12dd2f2f82a5f89e3280ebb1e0a7b39393ecc/runner/server.go#L774 is an empty string, which looks fine has there no change to apply on

[2022-09-09 20:03] tomhuang12 commented on #347
Could provide the secret metadata of the corresponding terraform plan? It should be start with `tfplan-default-`.

[2022-09-09 20:05] tomhuang12 commented on #342
Hi, does [this](https://weaveworks.github.io/tf-controller/use_cases/#use-custom-backend) help?

[2022-09-09 20:09] tomhuang12 commented on #341
@steve-fraser hope Chanwit's answer answers your question. Closing this.

[2022-09-09 20:09] #341 closed

[2022-09-09 20:12] tomhuang12 commented on #339
If you had a previous flux installation, just updating `flux` cli from brew doesn't automatically update flux installed in the cluster. Applying the latest like you did probably did the trick for you.

[2022-09-09 20:15] tomhuang12 commented on #336
We recently released a version that can configure a [custom backend](https://weaveworks.github.io/tf-controller/use_cases/#use-custom-backend). Please let us know if this meets your needs.

[2022-09-09 20:19] tomhuang12 commented on #328
Hmm yeah that could be useful. However, if the user want to run commands not in a make target, they would run into a similar issue if version mismatch.
I think this is the only obstacle I see people are facing when getting started to contribute? I could simply change `go get` to `go install` since GO 1.16 already supports `go install`.

[2022-09-09 20:45] tomhuang12 commented on #338
@bivas I am wondering why workspace relative path is required.

[2022-09-10 07:59] itamar-marom commented on #339
I'm creating a new cluster for every check I'm doing.
[code]
I'm pretty sure that's a brew problem (he's not updated). It happens to another team member of mine.

[2022-09-10 08:01] itamar-marom commented on #338
@tomhuang12  That was just to make it easier for some use cases. But you're right by asking, maybe it's not needed and just makes things more confusing.
What are your thoughts about all of our var files options and their precedence?

[2022-09-10 08:24] artem-nefedov commented on #342
You may have been confused about how backendConfig and backendConfigsFrom relate to each other, just as I have been initially.
Details are here: https://github.com/weaveworks/tf-controller/discussions/306

[2022-09-10 09:29] bivas commented on #338
@tomhuang12 that proposal is to simplify the API. The user doesn't know that real path inside the runner. So by asking for a relative path, they don't need to assume anything but that the files exist. I would say it should be relative to the `GitRepository` mounted inside the runner.

Looking at @itamar-marom example (option 2), I would refine it to:
[code]

I dropped the `./` prefix to paths and

[2022-09-10 14:49] chanwit commented on #339
Yes, please make sure that they upgrade flux with `brew upgrade fluxcd/tap/flux` and check that their version is Flux v0.32+ before re-bootstrapping.

[2022-09-10 17:30] bivas commented on #325
This posses an issue with exiting services that knows how to process Terraform plans (JSON formatted). It will force the user to create a wrapper webhook (proxy) that will extract the `status.tfplan` content and forward it to the actual service.
If we were to keep this API, maybe add an ability to POST a raw Terraform plan content if requested. e.g.
[code]

I believe that will answer both scenario

[2022-09-10 17:51] bivas opened #349 "Support break-glass scenario that disable reconcile and drift detection"
In case of break-glass scenario (being required to operate directly on managed resources outside of GitOps flow) we need an option to mark an object as disabled. Disabled object will not be reconciled (even when a change in `GitRepository` is detected) and will output an error if `tfctl reconcile` command will attempt to force reconcile it.
If a drift detection flow is operations, it will skip che

[2022-09-11 05:26] chanwit commented on #349
We have a feature to suspend and resume reconciliation similar to other Flux objects.
https://github.com/weaveworks/tf-controller/blob/main/controllers/terraform_controller.go#L137

[2022-09-11 05:36] chanwit commented on #325
Thank you @bivas
Your suggestion makes a lot of sense.

No it will not. It's out of the scope of this implementation.
But temporary suspension would make a good feature.

[2022-09-11 08:25] bivas commented on #336
@tomhuang12 this issue is for plan storage (binary and JSON format) not Terraform state (which covered by custom backend as you mentioned).
Current plan storage is Kubernetes Secret and it's problematic with large plans (we have plans averaging at 6.5MB as JSON format) and a different storage is required (e.g. PVC)

[2022-09-11 15:27] itamar-marom commented on #339
mmmmm I tried your suggestion, didn't work as well.
Only after running `brew uninstall --force flux` and then `brew install fluxcd/tap/flux` it works.

[2022-09-11 15:27] #339 closed

[2022-09-12 10:25] github-vincent-miszczak commented on #347
[code]

This is similar to other working resources, example of a working one:
[code]

[2022-09-12 18:42] #325 closed

[2022-09-13 11:46] chanwit opened #355 "Upgrading Go to 1.18.6"

[2022-09-13 17:09] bivas commented on #318
Wouldn't sending out an event to the NotificationController do the trick? Once a Notification Provider is configured it should update the status.

My addition to this is the ability to update the conditions populated in the statue as Git Comment.
The comment could include output from different phases as toggled section: e.g. pre-init, init, plan, apply, etc.

[2022-09-13 17:13] bivas commented on #328
@Nalum running make targets in a container might break CI/CD flows to require Docker service in build servers (and even a bigger issue when the CI runners run as container themselves)

[2022-09-14 08:38] Nalum commented on #328
We could set it up in such a way that that wouldn't be the case. But just a thought and I can see it over complicating things

[2022-09-21 07:30] imathu opened #357 "tfctl Error: no Auth Provider found for name "oidc""
using the latest tfctl build  tfctl_Darwin_arm64 on an OSX M1 raises the following error:

❯ ./tfctl version -n <some-namespace>
Error: no Auth Provider found for name "oidc"
Error: no Auth Provider found for name "oidc"

Fix:
If I include the following import in cmd/tfctl/main.go and rebuild the tfctl command, it works:
_ "k8s.io/client-go/plugin/pkg/client/auth"

regards
Mathias

[2022-09-21 07:40] chanwit commented on #357
Thank you so much @imathu for reporting and also for the way to fix the issue!
We'll create a PR shortly to include the fix.

[2022-09-22 13:27] chanwit opened #358 "Generalize webhooks for other services"
We currently have a Webhook capability to connect to Weave GitOps Policy Engine for plan validation.
But for other use cases, like Infracost, we would need to generalize this Webhook to accept:
- Headers
- Content type
- Form parameters
so that Webhook would be able to use Infracost.

Here's pseudo code in Bash
[code]

[2022-09-26 12:35] chanwit commented on #293
We're going to cut webhook features into v0.13.0

[2022-09-26 22:51] daveoy opened #364 "allow envFrom in chart"
#363 would allow supplying envFrom in the values file for this helm chart.

the motivation is to set environment variables from secrets

[2022-09-27 01:53] daveoy commented on #364
After further digging this doesn't solve my problem of getting env vars down to the runner.

[2022-09-27 01:53] #364 closed

[2022-09-27 12:07] dcfranca opened #365 "Stuck in "Reconciliation in progress" state"
Hey everyone,

I'm just starting using Flux + TF controller, so please let me know if I'm missing some basic step
I have it running apparently properly for Kustomization, however, the `tf-controller` keeps hanging in `Reconciliation in progress`

I have created the GitRepo resource, pointing to my repository and correct path
The resource was created successfully and it is in `Ready` state

but the

[2022-09-27 13:01] chanwit commented on #365
You're right. We use Terraform 1.1.9 so the different state version would make it incompatible.

This error is not harmful. We'll take care of it in coming releases.

This might be because you used `1m` interval, which stressed the control plane a bit. Maybe you would try the bigger value.

[2022-09-27 14:18] dcfranca commented on #365
Thanks for the quick reply @chanwit
I have changed the interval to GitRepo: 5m, Terraform: 10m
Updated the Terraform state version to 1.1.9

Deleted the `tf-runner` and Terraform resources, and recreated them, but the error is stil there and the log message is still the same
[code]

Maybe it is related, but I also have the issue mentioned [here](https://github.com/weaveworks/tf-controller/issues/3

[2022-09-27 14:55] chanwit commented on #365
Thank you @dcfranca
Right, we haven't followed the flowcontrol for fairness yet and we should implement it.

[2022-09-27 15:15] dcfranca commented on #365
@chanwit Sorry, I'm not following, is there anything I can do to fix or better debug the issue?

[2022-09-27 16:04] dcfranca commented on #365
Do you mean that it needs to be implemented on tf-controller? Is there a workaround I can do in the meantime? Or how can I handle that from my side?

[2022-09-27 16:30] chanwit commented on #365
Yes

I'm afraid there's no workaround for the client-side throttling. You would only get the messages, but it's not going to make the controller to stop working.

Are you able to get everything up and running for now?

[2022-09-27 16:32] dcfranca commented on #365
@chanwit No, I'm in the same situation... the terraform resource is stuck in `Reconciliation in progress` and the last log information on the runner is the same I shared here.

[2022-09-27 16:40] chanwit commented on #365
I see. Both error are not related to your problem.

How did you setup AWS credentials to access your S3 backend?

[2022-09-28 08:07] chanwit opened #366 "Implement spec.values as a special variable"
`spec.values` would give us a good level of abstraction (something like Crossplane, but better) without having a ton of CRDs.
Together with a newly developed package generator (tofu-jet), we would be allowed to express something like this:
[code]

Flux OCIRepository would become our packaging system to deliver this new kind of modules.
We would also be able to support AWS primitive modules out of

[2022-09-28 08:10] dcfranca commented on #365
The authentication is via KIAM with the pod annotated with `iam.amazonaws.com/role`

[2022-09-28 09:13] dcfranca commented on #365
The error also happens with local backend

[2022-09-28 09:18] dcfranca commented on #365
@chanwit Running the tf-controller with log in debug mode gives some extra information

[code]

[2022-09-28 10:27] chanwit commented on #365
We don't support the local backend as we never tested it inside the cluster.

what's about the standard setup with the default Kubernetes backend? Does it give any error?

[2022-09-28 10:47] dcfranca commented on #365
Sorry, I meant that I removed the backend configuration, so I assume it is using the default Kubernetes one?

[code]

[2022-09-28 10:49] Nalum commented on #366
I'm not totally sure I understand what's happening here. Can you expand on it?

[2022-09-28 11:41] chanwit commented on #365
According to the logs,

  1. The controller was ok to create a Pod, and the Pod was actually in the "running" state.
  2. But, there's no IP assigned to Pod within 30 seconds, so the deadline exceeded and the controller had started over.

Do you have any addition info about your cluster? For example, how many seconds for your cluster to bring up your Pods and other workloads in a normal situation?

[2022-09-28 11:50] dcfranca commented on #365
@chanwit Where do you see in the logs that there is no IP assigned to the pod?

I can list it on my cluster and it has IPs, the assignment of IPs usually happens very fast
[code]

[2022-09-28 11:52] jwolski2 commented on #365
Hi @chanwit thanks for your attention on this issue. I'm on the same team as @dcfranca debugging this with him. I see that there is some sort of mTLS connection between the tf-controller pod and runner pod. Is that true? In the Helm chart, I also see a spot for a `policy-agent-tls` secret to be inserted into the tf-controller Deployment, but it's commented-out. Are these the certs that the tf-cont

[2022-09-28 11:55] chanwit commented on #365
@dcfranca I see. The log should have said that it was not able to connect instead then. Thank you for confirming that for me.

[2022-09-28 11:59] chanwit commented on #365
Hi @jwolski2
Yes, there's an mTLS connection between the controller and each runner.
A runner is going to serve at port 30000, and the controller creates an mTLS/gRPC client to connect to it.

All CA and certificates for mTLS are generated by the controller itself so that we don't need to take care of it.
The policy-agent-tls bits you've seen in the values file are not related to the standard setu

[2022-09-28 12:00] chanwit commented on #365
I have only a conclusion for now that there's something prevents the communication between the controller and the runners in your clusters. Probably a kind of security groups or network policies.

[2022-09-28 16:08] #366 closed

[2022-09-28 18:14] chanwit opened #370 "The status is still Unknown after applying and output available"
The status is still Unknown after applying and output available.
It should be "True".

[2022-09-29 15:38] bryantbiggs opened #371 "General question on custom controller guidance"
Apologies if this is the wrong repository to pose this question - is there any documentation related to implementing custom controllers that Flux can utilize?

For example, if I wanted to create a custom controller that could be used to manage deployments onto AWS ECS, is there any guidance on the interface for controllers and how they integrate with Flux? Thank you in advance!

[2022-09-29 16:02] bryantbiggs commented on #371
Thank you for the info and guidance - I'll take a look and give it a try, cheers!

[2022-09-29 16:02] #371 closed

[2022-09-29 16:02] faganihajizada opened #372 "tf-runner fails: "terraform-runner.tls-*" not found"
Hi 👋🏻

We are having issues with the `tf-controller`. Sometimes the `tf-runner` pods fail and we see an error message like:

`2022/09/28 11:36:38 secrets "terraform-runner.tls-1664811349" not found`

This happens in case there was a namespace with the same name before and deleted. If we had a namespace X and deleted it, the next time when we create a new namespace with the name X, the `tf-runner`

[2022-09-29 16:02] faganihajizada commented on #372
https://github.com/weaveworks/tf-controller/blob/main/api/v1alpha1/terraform_types.go#L35-L44

[2022-09-29 16:17] chanwit commented on #372
Thank you for reporting this @faganihajizada !

[2022-09-29 16:19] faganihajizada commented on #372
You are welcome @chanwit. Thanks for a great job!

We are assuming the `tf-controller `stores/caches information about namespaces somewhere. Could you please provide some details? Maybe we can contribute to fixing it.

[2022-09-29 16:20] chanwit commented on #365
We had an internal testing and found that the cause of this problem was about network policies.
We put together the preflight checks in the getting started guide: https://weaveworks.github.io/tf-controller/getting_started/

I shall close this issue for now. Please re-open it if the problem still persists.

[2022-09-29 16:20] #365 closed

[2022-09-29 16:22] chanwit commented on #249
Closing this for now.
We'll support multiple TF binaries shortly.

[2022-09-29 16:22] #249 closed

[2022-09-29 17:39] jwolski2 commented on #365
Our problem didn't actually have to do with network policy. One thing for certain was that this line https://github.com/weaveworks/tf-controller/blob/main/controllers/terraform_controller.go#L1912 was tripping us up. There's a hidden assumption in the implementation of `GetRunnerHostname` that pod IPs are resolvable from their fully qualified name. Our CoreDNS was not setup for that. As soon as we

[2022-09-29 17:49] chanwit commented on #365
Thank you for sharing @jwolski2
That DNS bit is so new to me.

[2022-09-29 20:07] tomhuang12 opened #373 "Ability to specify imagePullSecret for runner pod image"

[2022-09-29 20:28] tomhuang12 commented on #221
Hi @masterphenix, I am trying to get this to work in my AKS using AAD without success and wondering how you got it to work. The backend config looks like:
[code]

The error I am getting is:
[code]

[2022-09-29 20:58] tomhuang12 commented on #305
I am not sure about MSI but I am able to get it to work with a service principal. Following the azurerm [documentation](https://www.terraform.io/language/settings/backends/azurerm), I am using `ARM_CLIENT_ID` and `ARM_CLIENT_SECRET` env vars.

The terraform CR looks like this:

[code]

[2022-09-30 05:57] masterphenix commented on #221
Hello @tomhuang12 , I didn't get it to work, in fact, I hadn't got the chance to get back on this since az CLI was included in the project. To get AAD Pod Identity to work, you need to be able to set the binding label on the runner pods, which was not possible when I got stuck in may, Is it possible now ? Did you do that ?

[2022-09-30 06:41] Dentrax opened #374 "Consider remove replace directive in go.mod since it breaks installation"
As title, it has: `replace github.com/weaveworks/tf-controller/api => ./api`, which breaks the installation:

[code]

Go issue: https://github.com/golang/go/issues/44840

[2022-09-30 06:58] Dentrax opened #375 "`make` does not work: `./tools/bin/protoc: No such file or directory`"
[code]

Version: 279ac91ba1a015c128bfea18d8417e423bb9abea

[2022-09-30 07:22] Dentrax commented on #375
Fixed the `protoc` path now it throws:

[code]

[2022-09-30 07:27] Dentrax commented on #374
removing the replace breaks the build:

[code]

[2022-09-30 08:40] chanwit commented on #375
Please refer to the development guide. We use a very specific set of tools there.
Feedback to the guide is also appreciated.

https://github.com/weaveworks/tf-controller/blob/main/DEVELOPMENT.md

[2022-09-30 08:49] Dentrax commented on #375
It's about installation _path_, not versions.

I already installed prerequisite tools as listed [here](https://github.com/weaveworks/tf-controller/blob/main/DEVELOPMENT.md#protobuf-setup). But this document does not indicate `protoc` binary must be in `./tools/bin/protoc`. We can add this.

I'd expect the `make` should "just" work without any additional configuration to increase the overall UX.

[2022-09-30 08:59] Nalum commented on #373
This can be done with the service account but currently both service accounts use the same `imagePullSecrets` value. Might be good to have another one for the runner but fall back to the current setup?

Or do you mean to have this be part of the `Terraform` resource?

[2022-09-30 13:34] tomhuang12 commented on #221
@masterphenix Yeah, it is documented [here](https://weaveworks.github.io/tf-controller/use_cases/#customize-runner-pod-metadata). I am able to get it to work with a service principal but not AAD.

[2022-09-30 13:37] tomhuang12 commented on #373
Yeah, I built my runner with az cli and pushed it to a private registry. Maybe we can also change move runner pod image reference to `Terraform` instead of a env var of the controller?

[2022-09-30 13:49] faganihajizada commented on #372
Seems like it is being stored in memory: https://github.com/weaveworks/tf-controller/blob/279ac91ba1a015c128bfea18d8417e423bb9abea/mtls/rotator.go#L287

[2022-09-30 14:27] chanwit commented on #372
Yes, it is.
We need a mechanism to write it down again to a newly created namespace.
To do so, we need a K8s Informer to watch the namespace (re-)creation.

[2022-09-30 14:29] chanwit commented on #373
I though I already had a PR for this one. But it's probably on my local branch. Let me check.

[2022-09-30 14:30] chanwit commented on #373
I though I already had a PR for this one. But it's probably on my local branch. Let me check.

[2022-09-30 15:04] chanwit opened #376 "Ship `tf-controller/aws-primitive-modules` with the default installation"
We want to ship [AWS Primitive Modules for TF-controller](https://github.com/tf-controller/aws-primitive-modules) by default.
It's going to be an `OCIRepository` with name `aws-package-v0.42.0`.
  - via Helm chart
  - via the default yaml

[2022-09-30 15:28] faganihajizada commented on #372
Actually decreasing the value of [CAValidityDuration](https://github.com/weaveworks/tf-controller/blob/279ac91ba1a015c128bfea18d8417e423bb9abea/charts/tf-controller/values.yaml#L90) might help right? For example we make it to [refreshCertsInMemory](https://github.com/weaveworks/tf-controller/blob/279ac91ba1a015c128bfea18d8417e423bb9abea/mtls/rotator.go#L291) in each and every 5 minutes.

[2022-09-30 15:56] chanwit commented on #372
Yes, you could try that.

If the CA duration value is 5m and the lookahead time is 2m, the CA will be refreshed for like every 5-2 = 3 minutes.

The flag to trigger re-generation is here: https://github.com/weaveworks/tf-controller/blob/279ac91ba1a015c128bfea18d8417e423bb9abea/mtls/rotator.go#L261

[2022-09-30 18:20] chanwit opened #377 "Add a message how to show plan for the notification"

[2022-10-03 05:44] masterphenix commented on #221
Hello @tomhuang12 , I dig get to reproduce your issue, and I managed to fix it with the use_msi field of the terraform provider:
[code]
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs#use_msi

[2022-10-03 12:08] chanwit opened #378 "tf cli command for showing plan"
## User story

As a platform operator,
I want to use the CLI to show a certain terraform plan by specifying a Terraform object name and namespace,
so that I can see the current plan of that Terraform object, which was prepared by the controller.

## Description

This is a rewriting of the CLI to support showing a Terraform plan.

## Acceptance Criteria

The command should be looking like this:

`<

[2022-10-03 12:56] chanwit opened #379 "EPIC tf cli commands (create, delete, resume, suspend)"
I want to have a set of CLI commands that I can use to create, delete, resume, and suspend Terraform resources.

  - [ ] #380
  - [ ] #381
  - [ ] #382
  - [ ] #383

[2022-10-03 12:57] chanwit opened #380 "tf cli command for creating a Terraform object, also with `--export` flag"
[code]

[2022-10-03 12:57] chanwit opened #381 "tf cli command for deleting Terraform objects"

[2022-10-03 12:57] chanwit opened #382 "tf cli command for suspending a Terraform object"

[2022-10-03 12:57] chanwit opened #383 "tf cli command for resuming a Terraform object"

[2022-10-03 18:13] chanwit opened #384 "Helm-like template generation"
We need a template system to support the new component ecosystem introduced by `.spec.values` and Tofu-Jet.
A widely used template system is of Helm.
We would introduce a Helm-like template system for Tofu-Jet generated modules, so that we had more control over TF meta-attributes, like `count` and `lifecycle`.

Proposal:

Currently, we need to support only `main.tf.tpl` to generate `main.tf`, the

[2022-10-03 18:14] chanwit commented on #384
Consequences:
  - Tofu-Jet needs to support generating templates, instead of `main.tf`.

[2022-10-03 21:32] tomhuang12 commented on #221
@masterphenix thank you!

[2022-10-04 18:13] tomhuang12 commented on #373
@Nalum Using service account `imagePullSecrets` worked for me for now :)

[2022-10-05 16:52] adamstrawson opened #389 "Partial backend configuration clashes with `backendConfig.customConfiguration`"
Our Terraform modules use a partial configuration, which is recommended within the Terraform [documentation](https://www.terraform.io/language/settings/backends/configuration#partial-configuration)

For example;

[code]

Locally, we use Terragrunt to populate the backend, and within cluster we use [/isaaguilar/terraform-operator](https://github.com/isaaguilar/terraform-operator) (which is what we'

[2022-10-05 17:41] chanwit commented on #389
Hi @adamstrawson

Thank you for reporting the issue. We don't have a mechanism to support your use case yet.
But it's really a feature we would support. Maybe we would generate an override.tf instead?

[2022-10-06 11:42] chanwit opened #391 "Revisiting the semantics of resource deletion"
The current behaviour of `spec.destroyOnDeletion` needs to revisit.

[2022-10-06 12:33] martinsmatthews commented on #391
Hi Chanwit, this would be problematic for our use case as we rely on the terraform controller running the tf destroy on deleted terraform resources. We're spinning up and destroying clusters in CI near constantly and use the `spec. destroyResourcesOnDeletion` flag to ensure that flux created terraform resources are cleaned up, so removing support for this would be a problem for us.

Also, I may be

[2022-10-06 12:53] darrylweaver commented on #391
This is problematic.  It is also dangerous to have resources orphaned too, this could result in resources running under no control at all.  Recreating the resource would be the only way forward.  To then destroy properly.  I understand that the correct process to follow would be the TF flow of specifying a destroy operation.  However a prune if the controlling manifest should ideally also result i

[2022-10-07 09:37] adamstrawson commented on #389
That would work @chanwit - I've submitted a PR (#392) with a solution for this issue.

[2022-10-07 10:17] k0da opened #393 "support terraform debug logging"
Currently there is no way to set TF_LOG and logging done on terraform-exec level

[2022-10-07 10:50] k0da commented on #393
Yes, I did.

https://github.com/hashicorp/terraform-exec/blob/c3eeeea58419c22fda4600718d2a5245884af5ad/tfexec/terraform.go#L38

This is denied by terraform-exec go package

[2022-10-07 10:59] chanwit commented on #393
I see. Then we cannot support that too.

But we have another flag for you to try.

https://github.com/weaveworks/tf-controller/blob/main/runner/server.go#L202

Hope it's useful a bit.

[2022-10-07 11:14] Nalum commented on #393
We could look at exposing the `Terraform.SetLog` ([here](https://github.com/hashicorp/terraform-exec/blob/c3eeeea58419c22fda4600718d2a5245884af5ad/tfexec/terraform.go#L144))and related functions in some way.

[2022-10-07 18:48] daveoy commented on #393
i came here to post this issue -- HELM_DEUBG="1" doesn't seem possible either. not that its rejected, its just ineffective.

would love to be able to do this.

[2022-10-07 19:57] daveoy commented on #393
i can understand a TF_VAR_xxx env variable being prohibited but i would have though TF_LOG wouldn't be? especially when combined with the sensitive logs env var mentioned earlier.

if you can point me at where to run those SetLog and SetLogPath commands i'm happy to build the project and test their usage.

this is a big blocker for me right now as im seeing helm_release resources in terraform just

[2022-10-10 09:40] Nalum commented on #393
@daveoy it's not that we are blocking them, I understand it that the tf-exec package blocks them so that they can be set by that package exclusively. In order to support those functions we will need to update tf-controller/tf-runner to allow them to be set.

@chanwit would it be best to make these part of the Terraform CRD? Something like `spec.setLog` or maybe group them all in `spec.tfExec`?

[2022-10-10 10:38] chanwit commented on #393
`spec.logging: info # debug` would be possible, but I could see some security concerns.

https://github.com/weaveworks/tf-controller/blob/main/runner/server.go#L202

[2022-10-10 11:46] chanwit opened #407 "write test cases for dependency management"

[2022-10-10 12:59] k0da opened #408 "Install aws-package optionally"
Right now aws-package have hardcoded namespace, repository and version. Which breaks existing helm installation `﻿﻿failed to create resource: namespaces "flux-system" not found`

[2022-10-10 13:14] chanwit commented on #408
Will put an option for that in Helm chart

[2022-10-10 16:55] Nalum commented on #391
Conclusion? Not going ahead?

[2022-10-10 17:20] chanwit commented on #391
I withdrew the proposal. We'll continue to use the same semantics :-)

[2022-10-10 22:23] absolutemikex opened #410 "Questions on using tf-controller - how do you create the TF resources?"
Hello Folks - a few simple questions. I plan on using this tool to deploy into different clouds such as AWS, OCI, GCP etc, as there are already providers created for these clouds.

There are examples on creating the source object for the source controller - but what is in those repositories? Is it normal `.tf` files? Are there Kubernetes Objects defined with the resources?

For instance if I wante

[2022-10-11 05:35] #296 closed

[2022-10-11 05:38] chanwit commented on #410
Yes, they are normal .tf files.

For the normal use cases, you can just create .tf files, and store them in the GitRepo.

Yes. It is correct.

[2022-10-11 05:40] chanwit commented on #393
We shall add this as the "observabilities" item to the roadmap.

[2022-10-11 05:41] chanwit commented on #355
We are now able to build and release the controller with v1.19.1.

Closing.

[2022-10-11 05:41] #355 closed

[2022-10-12 09:16] JamWils commented on #379
@chanwit can we create these in the Weave GitOps CLI instead?  I would like to move away from the `tfcli` and absorb those commands into Weave GitOps.

[2022-10-12 09:18] chanwit commented on #379
Yes that's what I planned.

tf is just a dummy name here.

[2022-10-12 09:19] JamWils commented on #379
:), thanks

[2022-10-12 09:48] Nalum opened #412 "TF Controller shutdown with the runners"
We've seen an issue now where the `tf-controller` is unable to talk to the `tf-runner`, we believe this is due to the different versions of the controller and the runner. This happened where the `tf-controller` is running on `v0.12` and has one or more runner pods running, the controller is then terminated and replaced with an older version which then cannot talk to the `v0.12` runners.

Should we

[2022-10-12 09:53] chanwit commented on #412
Our current execution model does not allow that as it's fully synchronous.

To do so, we have to change the execution model to be asynchronous, which is doable but more difficult.

[2022-10-12 09:55] Nalum commented on #412
Is it something worth exploring? I could see this happening with upgrades as well

[2022-10-12 09:57] chanwit commented on #412
Yes, of course.

[2022-10-12 12:53] o6uoq opened #413 "tf-controller APM Support via OpenTelemetry"
APM (Application Performance Monitoring) is a great way to provide insights into application-layer transactions (and more).

However, APMs are generally based on a language and/or framework e.g. Java, Go, Tomcat, Dropwizard, Ruby on Rails.

Due to this difference, not all APM agents and instrumentation are the same. For example, Java can instrument your application at run-time with automagic instr

[2022-10-12 13:15] tomhuang12 commented on #413
I agree that if we need to support APM, OpenTelemetry is the way to go. Some APM tools provide out of box APM tracing without manual instrumentations but understand that its tool to tool specific.

[2022-10-12 16:35] Nalum commented on #412
@chanwit would it make sense to have the controller check the version of the running container for the runner pod when it tries to get it and then if the runner version is not what's expected we kill that pod and create a new one with the expected version?

[2022-10-13 11:09] masterphenix opened #414 "Add support for symbolic links inside a terraform workspace"
Hello,
I have a terraform workspace that looks like this:
|- mycluster01
|--- myapp01
|----- main.tf
|----- common.tf
|--- myapp02
|----- main.tf
|----- common.tf

This works fine when I declare a Terraform object with this path (which is relative to the root of the gitRepository declared beforehand):
`  path: ./mycluster01/myapp01`

Now, the common.tf file is the same for both project, so I would

[2022-10-14 04:24] absolutemikex commented on #410
Thank you again @chanwit

[2022-10-14 04:24] #410 closed

[2022-10-14 04:31] absolutemikex opened #415 "Question about State Configuration and Provider Secrets"
Hello,

Can you show me some example code of the Terraform Resource where a few things are specified - I've looked through the docs.

1. State file config - is this something I would configure in K8s? Or would it be how we normally do it in a `backend.tf` for example - also where do I reference the AWS secrets for instance when I want to s3 as the state?
2. Piggy backing on number 1, is there any

[2022-10-15 07:04] chanwit opened #417 "Change template delimiters"
The current Helm-like delimiters like this `{{ .value }}`cause a problem to YAML. They prevent a Terraform object from referring to some types of values, like bool, and number.

[code]

if we change the delimiters to be GitHub Action-like syntax `${{ .ref }}`, it would allow us to render template correctly.
like this:

[code]

[2022-10-15 18:53] chanwit opened #418 "Docs TODO"
## Use
  - webhook (policy engine integration) // https://weaveworks.github.io/tf-controller/use_tf_controller/with_external_webhooks/#configuration-example
  - retryInterval // https://weaveworks.github.io/tf-controller/how_to/interval_and_retryInterval/
  - workspace https://weaveworks.github.io/tf-controller/adr/0003-workspace-blob-caching/
  - environment variable // https://weaveworks.github.

[2022-10-15 22:45] tspearconquest opened #420 "Integration with KEDA"
Hello,

We are looking at adopting Flux CD in our environment and I noticed that Flux integrates with KEDA.

I realize it is still early for this project, so I thought I'd ask about the possibility of having an integration with KEDA in the future.

TF-Controller is definitely going to be something we will want to adopt alongside Flux when it reaches production readiness, in order to do CD of our A

[2022-10-16 06:37] #407 closed

[2022-10-16 06:37] #417 closed

[2022-10-16 06:39] #389 closed

[2022-10-16 08:33] chanwit commented on #420
Thank you @tspearconquest

I don't know much about it, but KEDA-based autoscaler for TF-controller would be a really nice use case.
Let's discuss more around the tech bits.

[2022-10-16 09:53] tspearconquest commented on #420
Hey! I actually don't know much about KEDA either, but I may have initially thought it could do more than it does. My initial research on KEDA mislead me into thinking that it could see events from (as an example) a postgres db, like high utilization, and automatically provision additional DB nodes, but that seems not to be possible, as KEDA is focused on scaling pods in the cluster with the HPA r

[2022-10-16 13:07] chanwit opened #423 "`tf import` command"
There are many scenarios when we want to import the current tfstate of a Terraform object. Currently, importing can be done using the `terraform import` command together with many manual steps.

Implementing `tf import` command would simplify those steps.

Workflow:

A user issue the following command against an existing Terraform object, in this case `my-aws-s3-bucket`.
[code]

Behavior:

1. the

[2022-10-17 15:13] rhart opened #428 "Manual approval always causes a new plan to be created"
tf-controller is just what I've been waiting for, so much potential for this project!  But I've been experimenting with manual approval and have a problem.  Basically a plan is being generated successfully, but every time I push a commit with the given approvePlan id, it seems to trigger a new reconciliation and a new plan.  If I edit the Terraform resource with the given approvePlan id, it applie

[2022-10-17 17:01] adamstrawson opened #429 "Feature: writeOutputsToSecret within different namespace"
We have a use-case where we want the Secret containing outputs available within another namespace.

As an example;
[code]

If `writeOutputsToSecret.namespace` isn't set, defaults to the current `terraform.Namespace` value.

Happy to open a PR if you feel there is value in this feature?

[2022-10-17 17:13] chanwit commented on #428
Thank you so much for reporting this @rhart

Yes, it's a regression caused by introducing many new features during v0.13.0-rc.
I'm addressing it.

[2022-10-17 17:36] chanwit commented on #429
Hi @adamstrawson

This feature had been brought up many times.
We follow the multi-tenancy principle of Flux, which does not violate the namespace boundary for security reasons.

There are many workarounds like using a secret sharing operator to help you achieve the same result, but sorry we don't have any plan to implement features that read / write secrets in the different ns.

[2022-10-17 17:38] adamstrawson commented on #429
Thanks for the explanation @chanwit

[2022-10-17 17:38] #429 closed

[2022-10-17 18:15] chanwit commented on #415
Hi @absolutemikex

1. This example might be useful for you: https://weaveworks.github.io/tf-controller/use_tf_controller/with_a_custom_backend/
2. Yes, they can be passed via environment variables like this:
[code]

[2022-10-17 20:30] absolutemikex commented on #415
Thank you! That is exactly what I was looking for.

[2022-10-18 11:39] #408 closed

[2022-10-18 15:17] rhart commented on #428
👍 thanks for the quick response, @chanwit

[2022-10-24 11:07] chanwit opened #434 "Upgrade Flux to v0.36"

[2022-10-25 09:57] k0da commented on #315
Any plans for this? I opened a PR against notification-controller to validate terraform Kind in Event source. But it being rejected. What would be the strategy. Would tf-controoller require kustomize controller in order to provider notification abilities?

https://github.com/fluxcd/notification-controller/pull/429

[2022-10-25 11:21] chanwit commented on #315
No, please follow this guide:

[Enable notifications for third party controllers](https://fluxcd.io/flux/cheatsheets/bootstrap/#enable-notifications-for-third-party-controllers)

[2022-10-25 11:48] chanwit opened #435 "Publish Tofu-Jet"
Tofu-Jet is a generator that converts Terraform providers into TF-controller's primitive modules.
This ticket is to track the progress of opensourcing Tofu-Jet.

[2022-10-25 12:06] chanwit commented on #435
cc @steve-fraser

[2022-10-25 12:21] chanwit commented on #315
May I know more about your scenario?
You're planning to run TF-controller only with Source controller + Notification controller?

Or you're bootstrapping Flux normally and add TF-controller layer?

[2022-10-25 12:36] k0da commented on #315
we shit TF objects into tf-controller by fleet. We don't use flux cd. Just tf-controller + notification-controller + source-controller

[2022-10-25 13:44] tomhuang12 commented on #435
Looking to use it for Azure resource :)

[2022-10-25 15:22] chanwit commented on #315
I see.
That would make a requirement for the new installation method.

Let's discuss.

[2022-10-25 15:43] k0da commented on #315
[code]

[2022-10-26 10:43] k0da opened #436 "AppliedSuccefully doesn't set condition properly"
[code]
status should be True

[2022-10-26 10:45] k0da commented on #436
https://github.com/weaveworks/tf-controller/blob/main/api/v1alpha1/terraform_types.go#L550
explicitly sets unknown

[2022-10-26 11:22] chanwit commented on #436
Hi @k0da
Thank you for that.

We're working on fixing this and other related issues in a different PR.

[2022-10-27 06:08] chanwit commented on #428
It is fixed now by #438 and #441 (v0.13.0)

Please feel free to re-open this issue if you still see the problem.

[2022-10-27 06:08] #428 closed

[2022-10-27 06:09] chanwit commented on #376
Fixed in #395

[2022-10-27 06:09] #376 closed

[2022-10-27 06:10] chanwit commented on #370
Fixed in #438

[2022-10-27 06:10] #370 closed

[2022-10-27 06:11] chanwit commented on #436
Fixed by #438 and #440 (v0.13.0)
Please feel free to re-open it if you still see the error.

[2022-10-27 06:11] #436 closed

[2022-10-27 14:56] rhart commented on #428
Upgraded and works great! Thanks for the quick turnaround.

[2022-10-31 10:53] #293 closed

[2022-11-01 12:51] chanwit commented on #434
Fixed by #444

[2022-11-01 12:51] #434 closed

[2022-11-01 12:51] #375 closed

[2022-11-02 18:28] chanwit opened #449 "Helm and Kustomization pipeline example with TF-controller"

[2022-11-03 17:48] chanwit opened #450 "implement `aws_dynamodb_table` primitive module"
As a platform engineer,
I'd like to create `aws_dynamodb_table` resource via TF-controller.

[2022-11-03 17:49] chanwit commented on #450
Hi @JamWils @josefaworks

Is it possible for you to help refine this ticket, as this feature is required by @steve-fraser?

[2022-11-04 06:03] chanwit commented on #379
moved this ticket to https://github.com/weaveworks/weave-gitops/issues/2968

[2022-11-04 06:04] #379 closed

[2022-11-08 12:15] steve-fraser commented on #450
This is for ww infrastructure for terraform backends.

This will also be used for internal WGE provisioning for create a s3 bucket for the tf-controller

[2022-11-09 13:21] JamWils commented on #450
@chanwit why can't the tf-controller do this today?

[2022-11-09 13:55] chanwit commented on #450
Here's the context.

Before v0.13, every TF-controller use need to prepare 1. YAML files and 2. Their own TF files.

In v0.13.0, we have introduced the preview version of AWS package, a ready-to-use OCI bundle. So that the platform operators can use the package out of the box without writing Terraform files themselves.
(This feature gives a Crossplane-like experience to users.)

Currently, the alp

[2022-11-11 03:18] xUnholy opened #453 "Support ARM architecture docker images"
I'd like to propose that the TF Controller support providing ARM architecture images; Ideally this is in the form of multi-architecture docker images to avoid the need to add additional selectors depending on machine types this could operate within.

Currently it doesn't work on ARM

[code]

Current GHCR image manifest https://github.com/weaveworks/tf-controller/pkgs/container/tf-controller/490662

[2022-11-11 04:33] chanwit commented on #453
Hi @xUnholy

Thank you for reporting this.

Yep, the ARM support is a known issue.
It's on our roadmap, and will be implemented later probably by the first half of 2023.

[2022-11-11 21:22] marcobarducci opened #454 "cannot delete resource with terraform plan failed"
i noticed that there is no way to delete a resource with a plan failed. with tfctl you've an output that confirms that the resource is deleted but you can see it again with tfctl get. you cannot even delete the crd. seems that it cannot find the state and goes into a loop.

{"level":"info","ts":"2022-11-11T21:05:16.219Z","msg":"show runner pod state: ","controller":"terraform","controllerGroup":"i

[2022-11-11 23:27] marcobarducci opened #455 "gitops dependency do not work"
using this example: https://weaveworks.github.io/tf-controller/use_tf_controller/with_GitOps_dependency_management

it seems that it cannot work the variable substitution (as in the doc ${{ .aws_s3_bucket.bucket }}) and for this reason the flux kustomization breaks

`variable substitution failed: unable to parse variable name`

[2022-11-13 07:24] chanwit commented on #455
Hi @marcobarducci

Yep, that's the behaviour of Kustomization controller.
Please annotate your certain Terraform objects with `kustomize.toolkit.fluxcd.io/substitute: disabled` to avoid substitution.

[2022-11-13 07:26] chanwit commented on #454
Thank you @marcobarducci for reporting this.

Could you describe this problem in more details please?
Would be great to have steps to reproduce the problem.

[2022-11-14 18:25] marcobarducci commented on #454
when you deploy a resource that will fail (for example `Source 'OCIRepository/aws-package-v4.33.0' not found`) or if it fails the plan because cannot find some variable, you cannot delete it. if you run tfctl delete <resource> the ctl will output "resource deleted" but the resource still remain.

[2022-11-15 07:40] chanwit commented on #455
You can also use `$$` to escape the $. Please refer to the Kustomization docs to do so.

Could you please post the example of how you did that?

[2022-11-15 07:41] chanwit commented on #454
I see. Thanks for the input. I'll take a look at it shortly.

[2022-11-15 07:49] xUnholy commented on #453
Thanks @chanwit that would be awesome if it could be implement at the earliest convenience.

[2022-11-15 20:55] hulquest opened #456 "Remove tfstate on Terraform delete"
Hello!  I'm wondering if state removal in conjunction with `.spec.destroyResourcesOnDeletion` has come up as an issue in the past.  I searched but didn't find anything.  I like the idea for the way I'm using tf-controller because there are no resources leaked after deletion of the Terraform resource.  The tfstate Secret remains today.

What is the opinion of removing the state Secret when the unde

[2022-11-16 04:30] chanwit commented on #456
Hi @hulquest thank you for your inputs.

Normally when destroying resources on the object deletion, we would have also deleted its tfstate secret.

But there would be an important use case in the near future which would enable use to *immediately* revert the commit and get everything back.

This recovery use case is feasible, but still in the design phase. It's a reason that we still leave the tfs

[2022-11-16 20:53] tomhuang12 opened #457 "`valueFrom` in `.spec.vars` isn't working"
I can't find any code that really takes them into account. Since we have `varsFrom`, we can consider removing it.

I do see a potential use case where the ConfigMap/Secret has a different key from the terraform variable name, and `varsFrom` is not able to handle this case.

[code]
[code]
[code]

[2022-11-17 08:09] chanwit commented on #457
Thank you so much @tomhuang12 for bringing this up

Here's the steps we would do:
- we mark this feature as deprecated by saying it in the CRD schema.
- we'll remove this in v1beta1 (not v1alpha2)

would we need to find a way to workaround this variable mapping behavior?
It's still likely to be needed per your suggestion.

[2022-11-18 08:43] marcobarducci commented on #455
our scenario is: we have terraformed our infrastructure stack in varoius modules. every module need some variables as input and give some outputs that can be used by another module. for example we define the network stack with a module and later an eks takes in input vpc_id, subnets ecc from the output of network module. this approach is the same used by the official terraform modules. tf-controll

[2022-11-18 14:34] hulquest commented on #456
Thanks for the quick response @chanwit.  If there is a feature in the works to restore from existing state then I don't mean to complicate things. When is the feature scheduled to be worked on, roughly?  I won't hold you to it 😄
Maybe after it's done I can look and propose a way remove state on deletion.  Or can this be designed in from the start?

[2022-11-25 09:02] dcfranca opened #461 "The runner is not picking the correct Terraform state"
I have a terraform controller for Flux running with a Github provider, however, it seems to be picking up the wrong Terraform state, so it keeps trying to recreate the resources again and again (and fails because they already exist)

This is how it is configured

[code]

locally running terraform init with a `state.config` file that has a similar/same configuration it works fine and it detect the

[2022-11-25 11:58] chanwit commented on #461
I guessed this was a problem of the GitHub provider, as I was once hit by this behavior too.
Could you please fix your state manually by running `terraform import` and see if the problem goes away?

[2022-11-25 13:12] dcfranca commented on #461
@chanwit It is hundreds of resources :'(
And for that I would need to run the imports on the `tf-runner` pod, right? Because if I run it locally it works fine

[2022-11-25 13:16] chanwit commented on #461
Unlike other providers e.g AWS, it seems to me that the GitHub TF provider does not support Terraform's drift detection. Probably, you have to disable drift detection for a certain sets of your resources.

See here:
https://weaveworks.github.io/tf-controller/use_tf_controller/with_drift_detection_disabled/

[2022-11-25 14:24] dcfranca commented on #461
I have disabled it, the same issue still happens

[2022-11-25 16:28] chanwit commented on #461
So they're not related then.

Btw, you are safe to put `.terraform.lock.hcl` file into your GitOps repo. TF-controller will also pick it up. It might help resolve your problem.

[2022-11-26 13:16] dcfranca commented on #461
Added, still the same issue... it tries to add all resources:
[code]

[2022-11-26 13:28] chanwit commented on #461
Here's my next guess, did you happen to set any workspace?

[2022-11-27 20:12] dcshiman opened #462 "Reconciler error on ipv6 cluster"
Hi, I am having a similar issue as [issues:365](https://github.com/weaveworks/tf-controller/issues/365)

Have tried setting the coreDNS with no luck, i am suspecting it's cos my cluster is on IPV6. Looking at the log, it looks like the tf controller is able to detect the status of runner pod, but can't figure out why its failing to run.

Here is the log form the controller,
[code]

What am i missi

[2022-11-28 02:50] chanwit commented on #462
Yes, the current behavior use ipv4 to create mTLS certs. That's the main reason it's not working on your cluster.

We'll definitely need an enhancement for ipv6.

Thank you for reporting this @dcshiman!

[2022-11-28 15:57] dcfranca commented on #461
no, it tries to run on the `default` namespace

[2022-11-28 16:38] chanwit commented on #461
No I meant the Terraform `workspace="prod"`, not the Kubernetes namespace.
Did it work without setting the workspace?

[2022-11-28 18:55] dcshiman commented on #462
I have tried making the connection via ip here.
https://github.com/weaveworks/tf-controller/blob/850c5aee1f6fcb6e07155db95743ca25b2204f0b/api/v1alpha1/terraform_types.go#L806-L809
[code]

But it dsn't work cos the certificate is singed using `*.<namespace>.pod.cluster.local`, I believe the best option will be to set a [subdomain](https://kubernetes.io/docs/concepts/services-networking/dns-pod-serv

[2022-11-28 21:01] rparmer opened #465 "Support collection objects when using outputs from another Terraform resource"
Using outputs from one Terraform resource as inputs to another Terraform resource works great when outputted reference is a string.  However it seems to be interpreting collections (lists, maps and objects) as strings too.  For example if my parent Terraform outputs a list of strings
[code]

and the child Terraform requires a list of strings
[code]

the child Terraform will blow up with `Invalid v

[2022-11-29 15:14] dcfranca commented on #461
No, when I remove the `workspace="prod"` it tries to provision `default`, and it fails to even plan as our resources are coupled to the workspace in some ways.

When `workspace="prod"` is in place it tries to recreate everything

[2022-11-29 18:24] artem-nefedov commented on #420
I think KEDA integrates with Flagger, not with Flux (unless I missed something).

[2022-11-29 18:29] tspearconquest commented on #420
Yes, you're correct. Flagger being a part of the Flux "ecosystem", so I meant Flux in a more general sense, rather than the specific product named Flux. Apologies for any confusion.

[2022-11-30 00:17] nwmcsween opened #466 "Add extraInitContainer for state initialization, etc."
As per title this will allow importing state manually without much fuss.

[2022-11-30 05:01] chanwit commented on #466
I guessed the init container feature had been implemented recently by @Nalum
Luke, could you please confirm that we already have this capability please?

[2022-11-30 10:18] Nalum commented on #466
Yep, this was part of the v0.13.0 release :+1+

[2022-11-30 10:18] #466 closed

[2022-11-30 10:20] Nalum commented on #466
You can see an example in this test https://github.com/weaveworks/tf-controller/blob/main/controllers/tc000311_init_container_test.go#L102-L107

[2022-11-30 16:37] chanwit commented on #461
I have no clue atm.
I'll find some free time to setup an environment that replicates yours to track this bug down.

Not to promise, but I should find some free slots next week.

[2022-11-30 16:38] chanwit commented on #461
ping @phoban01 @tomhuang12 @Nalum in case you have tried workspace + S3 backend similar to this setup?

[2022-11-30 16:51] k0da commented on #461
I'm running workspace with s3 without issues. Though I specified empty backend config, then supply it with secret. I can paste snippet later if you want

[2022-11-30 17:10] chanwit commented on #461
That would be great!
@k0da was the one who implemented most of workspace-related codes.

@dcfranca would it be possible for you to try a small set of resources on a different region first to see how it behaves?